{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}
<div class="modal fixed top-0 w-full z-50 flex items-center justify-center h-screen invisible">
  <div class="modal-close absolute tra top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-20 transform scale-150 text-white text-sm z-50">
    <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
      <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
    </svg>
    <span class="text-sm">(Esc)</span>
  </div>
  <div class="vd-formComic modal-content opacity-0 transition-all duration-300">
    <p class="w-2/3 sm:w-1/2 mb-4 text-center mx-auto text-white text-lg font-medium">Dejanos tus datos para continuar con la descarga</p>
    <form{{ attributes }}>
      {{ title_prefix }}
      {{ children }}
      {{ title_suffix }}
      </form>
  </div>
</div>