<div id="recommendedPost" class="py-12 bg-gray-200">
  <transition name="fade">
    <div class="container px-4" v-if="content !== null">
      <h6 class="border-b-2 border-gray-500 text-gray-600 py-1 text-base mb-6">
        Descubre otros artículos
      </h6>
      <div class="grid lg:grid-cols-3 gap-4 lg:gap-6">
        <div
          class="w-full mx-auto"
          style="max-width: 442px"
          v-for="(post, index) in content"
        >
          <div class="rounded overflow-hidden h-48 lg:h-auto">
            <img
              :alt="post.field_header_image[0].url"
              :src="post.field_header_image[0].url"
              :title="post.field_header_image[0].title"
              class="object-cover h-64 w-full"
            />
          </div>

          <div class="p-4">
            <h3
              class="font-extrabold text-xl lg:text-2xl text-gray-800 uppercase"
            >
              {{post.title[0].value}}
            </h3>

            <p class="mt-2 text-sm text-gray-600">
              {{post.field_description_blog[0].value}}
            </p>

            <div class="text-base text-gray-700 font-medium mt-2 flex">
              {{read(post.body[0])}} min de lectura
            </div>

            <div class="flex justify-between items-center mt-3">
              <time
                :datetime="post.field_date[0].value"
                class="text-gray-600 text-sm capitalize"
                >{{formatDate(post.field_date[0])}}
              </time>
              <a
                :href="url + post.path[0].alias"
                class="text-base text-blue-500 hover:text-white hover:bg-orange-500 uppercase rounded py-2 px-3 transition duration-200"
                >Leer más
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</div>
<script>
  let recommendedPost = new Vue({
    el: "#recommendedPost",
    data() {
      return {
        content: null,
        url: window.location.origin
      };
    },
    mounted() {
      axios
        .get(`${window.location.origin}/api/blog_post?_format=json`)
        .then(response => {
          const data = response.data;

          let cantidadPost = data.length > 3 ? 4 : data.length;
          let myArray = [];
          let post = [];
          let i = 0;

          while (myArray.length < cantidadPost) {
            let numeroAleatorio = Math.floor(Math.random() * cantidadPost);
            let existe = false;
            for (let i = 0; i < myArray.length; i++) {
              if (myArray[i] == numeroAleatorio) {
                existe = true;
                break;
              }
            }
            if (!existe) {
              myArray[myArray.length] = numeroAleatorio;
            }
          }

          while (post.length < cantidadPost - 1) {
            let indice = myArray[i];
            if (data[indice].path[0].alias !== window.location.pathname) {
              post.push(data[indice]);
            }

            if (post.length <= 3) {
              this.content = post;
            }
            i++;
          }
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    },
    methods: {
      read: function(body) {
        const readPromedio = 250;
        const readValue = body.processed.split(" ").length;
        const readResult = Math.ceil(readValue / readPromedio);

        return readResult;
      },
      formatDate: function(date) {
        moment.locale("es");
        return moment(date.value).format("MMM DD YYYY");
      }
    }
  });
</script>
