<style type="text/css">
  .item::before {
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
    max-height: 300px;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.5;
  }

  .slider,
  .slider::before {
    height: 100vh;
    max-height: 300px;
  }

  @media (min-width: 640px) {
    .slider,
    .slider::before {
      max-height: 600px;
    }
  }
</style>
<div class="relative" id="bannerBlog">
  <div
    class="bg-gray-500 slider h-screen overflow-hidden w-full"
    v-if="content == null"
  >
    &nbsp;
  </div>

  <div class="slider" v-else="">
    <div>
      <div
        :style="{'background-image': 'url(' + content[index].field_header_image[0].url + ')'}"
        class="item slider relative h-screen bg-center bg-no-repeat flex items-end justify-center bg-cover w-full"
      >
        <transition name="fade">
          <div
            class="container font-semibold absolute pb-12 mx-auto flex flex-col text-white px-4"
            v-if="index == 0"
          >
            <span class="text-xl mb-4"
              ><i class="icon-right-dir mr-1 inline-block"></i>Ultimo Post</span
            >

            <p class="text-xl sm:text-4xl mb-4 lg:w-2/3">
              {{content[index].field_description_blog[0].value}}
            </p>
            <a
              :href="url + content[index].path[0].alias"
              class="inline-block px-2 sm:px-4 py-1 sm:py-2 border hover:bg-orange-500 transition duration-200 border-white hover:border-orange-500 text-lg sm:text-xl rounded-full center uppercase"
              style="width: max-content;"
              >Sigue leyendo</a
            >
          </div>
        </transition>
        <transition name="fade">
          <div
            class="container font-semibold absolute pb-12 mx-auto flex flex-col text-white px-4"
            v-if="index == 1"
          >
            <span class="text-xl mb-4"
              ><i class="icon-right-dir mr-1 inline-block"></i>Post
              Recomendado</span
            >

            <p class="text-xl sm:text-4xl mb-4 lg:w-2/3">
              {{content[index].field_description_blog[0].value}}
            </p>
            <a
              :href="url + content[index].path[0].alias"
              class="inline-block px-2 sm:px-4 py-1 sm:py-2 border hover:bg-orange-500 transition duration-200 border-white hover:border-orange-500 text-lg sm:text-xl rounded-full center uppercase"
              style="width: max-content;"
              >Sigue leyendo</a
            >
          </div>
        </transition>
      </div>
    </div>

    <div class="absolute bottom-0 right-0 m-8 text-white">
      <button
        :class="[index == 0 ? 'opacity-50' : '' ,'slide-prev', 'rounded-full', 'bg-orange-500', 'h-12', 'w-12', 'outline-none', 'mr-4', 'transform', 'rotate-180']"
        aria-label="Previous"
        role="button"
        v-on:click="subIndex"
      >
        <i class="icon-right-open"></i></button
      ><button
        :class="[index == 1 ? 'opacity-50' : '', 'slide-next', 'bg-orange-500', 'rounded-full', 'h-12', 'w-12', 'outline-none']"
        aria-label="Next"
        role="button"
        v-on:click="addIndex"
      >
        <i class="icon-right-open"></i>
      </button>
    </div>
  </div>
</div>
<script>
  // Vuejs banner
  let banner = new Vue({
    el: "#bannerBlog",
    data() {
      return {
        content: null,
        url: window.location.origin,
        index: 0
      };
    },
    mounted() {
      axios
        .get(`${window.location.origin}/api/blog_post?_format=json`)
        .then(response => {
          let randomNumber = Math.floor(Math.random() * response.data.length);
          randomNumber = randomNumber === 0 ? 1 : randomNumber;
          this.content = [response.data[0], response.data[randomNumber]];
        })
        .catch(error => {
          console.log(error);
        });
    },
    methods: {
      addIndex: function() {
        if (this.index == 0) {
          this.index = 1;
        }
      },
      subIndex: function() {
        if (this.index == 1) {
          this.index = 0;
        }
      }
    }
  });
</script>
