<section id="app">
  <transition name="fade">
    <section v-if="errored">
      <p class="center">
        Lo sentimos, no es posible obtener la información en este momento, por
        favor intente nuevamente mas tarde
      </p>
    </section>
  </transition>

  <div v-if="!errored">
    <div id="container-loading" v-if="loading">
      <div id="loading">&nbsp;</div>
    </div>
    <transition name="fade">
      <div
        class="grid sm:grid-cols-2 gap-4 sm:gap-6 px-4 sm:px-0"
        v-if="!loading"
      >
        <div
          class="w-full mx-auto"
          style="max-width: 442px;"
          v-for="(post, index) in posts"
        >
          <div class="rounded overflow-hidden">
            <img
              :alt="post.field_header_image[0].url"
              :src="post.field_header_image[0].url"
              :title="post.field_header_image[0].title"
              class="object-cover h-48 md:h-64 w-full"
            />
          </div>

          <div class="p-4">
            <h3
              class="font-extrabold text-lg md:text-2xl text-gray-800 uppercase"
            >
              {{post.title[0].value}}
            </h3>

            <p class="mt-2 text-sm text-gray-600">
              {{post.field_description_blog[0].value}}
            </p>

            <div class="text-base text-gray-700 font-medium mt-2 flex">
              <i class="icon-star mr-1"></i>{{read(post)}} min de lectura
            </div>

            <div class="flex justify-between items-center mt-3">
              <time
                :datetime="post.field_date[0].value"
                class="text-gray-600 text-sm capitalize"
                ><i class="icon-calendar mr-1"></i
                >{{formatDate(post.field_date[0].value)}}
              </time>
              <a
                :href="url + post.path[0].alias"
                class="text-base text-blue-500 hover:text-white hover:bg-orange-500 uppercase rounded py-2 px-3 transition duration-200"
                >Leer más <i class="icon-right-open ml-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</section>
<script>
  // Vuejs app
  let app = new Vue({
    el: "#app",
    data() {
      return {
        posts: null,
        url: window.location.origin,
        loading: true,
        errored: false,
      };
    },
    mounted() {
      axios
        .get(`${window.location.origin}/api/blog_post?_format=json`)
        .then((response) => {
          const taxonomy = window.location.pathname.split("/")[2];
          let filter = response.data.filter((filter) => {
            let isTrue = false;
            filter[`field_${taxonomy}`].map((category) => {
              if (category.url == window.location.pathname) {
                isTrue = true;
              }
            });
            if (isTrue) {
              return filter;
            }
          });
          this.posts = filter;
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    },
    methods: {
      read: function (content) {
        const readPromedio = 250;
        const readValue = content.body[0].processed.split(" ").length;
        const readResult = Math.ceil(readValue / readPromedio);

        return readResult;
      },
      formatDate: function (date) {
        moment.locale("es");
        return moment(date).format("MMM DD YYYY");
      },
    },
  });
</script>
