<style type="text/css">
    .hero {
      max-height: 250px;
    }
  
    @media (min-width: 768px) {
      .hero {
        max-height: 500px;
      }
    }
  </style>
  <!-- HERO -->
  <div class="hero relative overflow-hidden"><img alt="Confort Termico" data-entity-type="file"
      data-entity-uuid="10ac5874-a9ee-427f-b0f7-07e0aa5dd338"
      src="/sites/sgva.master/files/inline-images/Confort-termico-web.png">
  
    <div class="container mx-auto px-4">
      <h1
        class="block bg-red-500 opacity-75 absolute bottom-0 text-xl md:text-3xl text-white mb-12 md:mb-32 px-4 md:px-6 py-6 md:py-8 border-l-8 border-red-600">
        CONFORT TÉRMICO</h1>
    </div>
  </div>
  
  <!-- DESCRIPTION -->
  <div class="description w-full bg-gray-200 text-gray-700 text-sm md:text-base sm:text-lg leading-relax mb-8">
    <p class="block container mx-auto py-4 sm:py-6 px-4">Los edificios MULTI COMFORT
      se mantienen a una temperatura óptima con muy poca energía. No son ni demasiado calientes ni
      demasiado fríos, por lo que podemos funcionar cómodamente, hagamos lo que hagamos</p>
  </div>
  
  <!-- TITLE -->
  <div
    class="container px-4 pl-4 h-8 flex font-light text-gray-800 text-lg sm:text-xl items-center border-l-8 border-red-600">
    <h2>¿Qué es la COMODIDAD TÉRMICA?</h2>
  </div>
  <!-- GRIDS -->
  <!-- PARTE 1 -->
  <div class="container px-4 grid lg:grid-cols-6 gap-6 my-8" id="disableBread">
    <div class="lg:col-span-4 grid grid-cols-3"><img alt="1.1" data-entity-type="file"
        data-entity-uuid="7e251126-2ae2-4842-8365-08725f21f435"
        src="/sites/sgva.master/files/inline-images/1.1_0.png"><img alt="1.2" data-entity-type="file"
        data-entity-uuid="af0e3ec5-febb-4424-85d0-0f8e70589725"
        src="/sites/sgva.master/files/inline-images/1.2_0.png"><img alt="1.3" data-entity-type="file"
        data-entity-uuid="ca45f435-a1f4-4f6f-bcbf-4684db9fc868" src="/sites/sgva.master/files/inline-images/1.3_0.png">
    </div>
  
    <div class="lg:col-span-2 flex flex-col-reverse text-gray-700 text-sm md:text-base leading-relax">
      <p>Es la condición mental que expresa satisfacción con el entorno térmico y se evalúa mediante una
        evaluación subjetiva”. Aunque la sensibilidad térmica varía de una persona a otra, según la edad,
        género, vestimenta, actividad, hábitos culturales, etc.</p>
    </div>
  </div>
  <!-- PARTE 2 -->
  
  
  <div class="bg-red-600 h-2 w-16 rounded mx-auto"></div>
  
  <div class="relative flex items-center justify-center my-8">
    <div class="mr-auto hidden lg:block object-contain"><img alt="2.1" data-entity-type="file"
        data-entity-uuid="c071c43e-ce3d-4b78-ac6b-5d4e50714ba8" src="/sites/sgva.master/files/inline-images/2.1_0.png">
    </div>
  
    <div class="container px-4 lg:absolute sm:grid grid-cols-3 lg:grid-cols-7 gap-4">
      <div class="col-span1 lg:col-span-2 flex flex-col-reverse mb-6 sm:mb-0">
        <div class="block object-contain lg:mb-8"><img alt="2.2" data-entity-type="file"
            data-entity-uuid="6382d298-ce1e-42d3-ab14-563c7c211731"
            src="/sites/sgva.master/files/inline-images/2.2_0.png"></div>
      </div>
  
      <div
        class="col-span-2 lg:col-span-3 grid grid-cols-3 sm:grid-cols-2 gap-2 mb-6 sm:mb-0 items-center sm:items-start">
        <div class="block mx-auto object-contain col-span-1 sm:col-auto"><img alt="2.3" data-entity-type="file"
            data-entity-uuid="d5e0198a-0236-41cf-b5c8-53e7950b5dd0"
            src="/sites/sgva.master/files/inline-images/2.3_0.png"></div>
  
        <p class="col-span-2 sm:col-auto text-xs md:text-sm text-gray-700 leading-relax">sistemas de regulación dentro de
          nuestros cuerpos se esfuerzan
          continuamente por equilibrar nuestros intercambios de calor con el medio ambiente,
          acelerando o ralentizando nuestros latidos cardíacos y regular la distribución de
          calor</p>
      </div>
  
      <div class="col-span-3 lg:col-span-2 flex flex-col-reverse">
        <div class="flex flex-col justify-center">
          <div class="block object-contain mx-auto"><img alt="2.4" data-entity-type="file"
              data-entity-uuid="7a51a967-f2c7-4d10-9053-4143e3f4e7f5"
              src="/sites/sgva.master/files/inline-images/2.4_0.png"></div>
  
          <p class="text-sm md:text-base text-gray-700 text-center lg:text-left leading-relax">Un ambiente interior cómodo
            limita los esfuerzos que nuestros
            cuerpos deben hacer para regular la temperatura corporal</p>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- PARTE 3 -->
  
  <div class="bg-red-600 h-2 w-16 rounded mx-auto"></div>
  
  <div class="container px-4 my-8 grid md:grid-cols-2 gap-4">
    <div class="flex flex-col">
      <div class="grid grid-cols-2 gap-4">
        <div class="block object-contain mx-auto"><img alt="3.1" data-entity-type="file"
            data-entity-uuid="5b9678bb-5adb-4c48-8cee-0d6387b1a34b" src="/sites/sgva.master/files/inline-images/3.1.png">
        </div>
  
        <div class="flex flex-col-reverse">
          <p class="text-sm md:text-base text-gray-700 leading-relax">En el
            entorno físico, la energía térmica (calor o frío) se transfiere a través de conducción,
            radiación y convección</p>
        </div>
      </div>
  
      <div class="flex justify-end">
        <div class="block object-contain"><img alt="3.2" data-entity-type="file"
            data-entity-uuid="9c7e8728-c2f5-4e07-b3b2-8b78e14448be" src="/sites/sgva.master/files/inline-images/3.2.png">
        </div>
      </div>
    </div>
  
    <div class="flex flex-col">
      <div class="block object-contain mx-auto"><img alt="3.3" data-entity-type="file"
          data-entity-uuid="6d89d0ff-58c5-40f2-a1c9-bc44409b54a4" src="/sites/sgva.master/files/inline-images/3.3.png">
      </div>
  
      <p class="text-sm md:text-base text-gray-700 leading-relax text-center md:text-left"><span
          id="disableBread"><span>En el entorno físico, la energía térmica (calor o frío) se transfiere a
            través de conducción, radiación y convección</p>
    </div>
  </div>
  
  <p>
    <!-- PARTE 4 -->
  </p>
  
  <div class="bg-red-600 h-2 w-16 rounded mx-auto"></div>
  
  <div class="container px-4 my-8 grid md:grid-cols-2 gap-4">
    <div class="flex flex-col">
      <div class="grid grid-cols-2 gap-4">
        <div class="block object-contain mx-auto"><img alt="4.1" data-entity-type="file"
            data-entity-uuid="1b7c3572-c715-453c-be2a-54347efab127" src="/sites/sgva.master/files/inline-images/4.1.png">
        </div>
  
        <div class="flex flex-col-reverse">
          <p class="text-sm md:text-base text-gray-700 leading-relax">El estado
            emocional actual, el estado de ánimo, el nivel de fatiga, etc. del individuo afectarán
            su experiencia en un entorno.</p>
        </div>
      </div>
  
      <div class="grid grid-cols-3 mt-4 md:mt-6">
        <div class="block object-contain"><img alt="4.2" data-entity-type="file"
            data-entity-uuid="7b8d3742-7ef5-46a0-a10c-74d071ae0aba" src="/sites/sgva.master/files/inline-images/4.2.png">
        </div>
  
        <div class="block object-contain"><img alt="4.3" data-entity-type="file"
            data-entity-uuid="ce5a3026-fabb-4ce5-a67d-488381219139" src="/sites/sgva.master/files/inline-images/4.3.png">
        </div>
  
        <div><img alt="4.4" data-entity-type="file" data-entity-uuid="afe1fb29-a847-468b-bf8a-8f5dac5126f0"
            src="/sites/sgva.master/files/inline-images/4.4.png"></div>
      </div>
    </div>
  
    <div class="flex flex-col">
      <div class="block object-contain mx-auto"><img alt="4.5" data-entity-type="file"
          data-entity-uuid="44eca4f4-474c-40b8-a3dc-038ab24bbf5e" src="/sites/sgva.master/files/inline-images/4.5.png">
      </div>
  
      <p class="text-sm md:text-base text-gray-700 leading-relax text-center md:text-left"><span
          id="disableBread"><span>Las expectativas juegan un papel importante en la forma en que un individuo
            experimenta el mundo físico</p>
    </div>
  </div>
  
  <p>
    <!-- SECCION 3 -->
  </p>
  
  <div class="bg-red-600">
    <div class="container px-4 grid md:grid-cols-2 gap-8 py-6">
      <div>
        <div class="flex justify-between items-center text-white font-bold text-xl mb-3">
          <h3>¿SABíAS?</h3>
  
          <div class="w-8 h-8 rounded-full bg-white"></div>
        </div>
  
        <p class="text-white leading-relax text-sm md:text-base">Lorem ipsum dolor
          sit amet, consectetur adipiscing elit. Aliquam vehicula tristique libero, sed interdum nisl
          maximus sed. Suspendisse convallis tellus et nibh finibus consectetur. Ut elementum aliquet
          diam sit amet tincidunt. Nulla bibendum odio id enim consectetur congue. Maecenas ac orci
          nunc. Maecenas volutpat laoreet mauris. Integer tempor nisi non orci convallis, eget
          imperdiet nibh ultrices. Maecenas volutpat mauris at ex sollicitudin laoreet.
        </p>
      </div>
  
      <div>
        <div class="flex justify-between items-center text-white font-bold text-xl mb-3">
          <h3>¿SABíAS?</h3>
  
          <div class="w-8 h-8 rounded-full bg-white"></div>
        </div>
  
        <p class="text-white leading-relax text-sm md:text-base">Lorem ipsum dolor
          sit amet, consectetur adipiscing elit. Aliquam vehicula tristique libero, sed interdum nisl
          maximus sed. Suspendisse convallis tellus et nibh finibus consectetur. Ut elementum aliquet
          diam sit amet tincidunt. Nulla bibendum odio id enim consectetur congue. Maecenas ac orci
          nunc. Maecenas volutpat laoreet mauris. Integer tempor nisi non orci convallis, eget
          imperdiet nibh ultrices. Maecenas volutpat mauris at ex sollicitudin laoreet.
        </p>
      </div>
    </div>
  </div>
  
  <p>
    <!-- SECCION 4 -->
  </p>
  
  <div class="container px-4 py-12">
    <!-- TITLE -->
  
    <div
      class="container px-4 pl-4 h-8 flex font-light text-gray-800 text-lg sm:text-xl items-center border-l-8 border-red-600">
      <h2>¿Qué es la COMODIDAD TÉRMICA?</h2>
    </div>
  
  
    <div class="relative">
      <div class="grid lg:grid-cols-2 gap-8 mt-8">
        <div>
          <h3 class="text-gray-800 font-medium text-sm md:text-base leading-relax">Un
            ambiente térmico equilibrado es esencial para sentirse
            cómodo.</h3>
  
          <p class="mt-6 text-sm md:text-base text-gray-700 leading-relax">La
            concentración, la destreza manual y la ocurrencia de accidentes están influenciados por
            temperaturas excesivamente altas o bajas.</p>
        </div>
  
        <div>
          <h3 class="text-gray-800 font-medium text-sm md:text-base leading-relax">EL
            CONFORT TÉRMICO está determinado por:</h3>
  
          <div class="py-4 grid sm:grid-cols-2 row-gap-4">
            <div class="flex items-center">
              <div class="w-8 h-8 rounded-full bg-gray-300 flex justify-center items-center overflow-hidden">
                <img src="w" alt="icon-1">
              </div>
              <span class="ml-2 text-sm md:text-base text-gray-700 leading-relax">Temperatura del
                aire </span>
            </div>
  
            <div class="flex items-center">
              <div class="w-8 h-8 rounded-full bg-gray-300 flex justify-center items-center overflow-hidden">
                <img src="w" alt="icon-2">
              </div>
              <span class="ml-2 text-sm md:text-base text-gray-700 leading-relax">Temperatura de la
                superficie</span>
            </div>
  
            <div class="flex items-center">
              <div class="w-8 h-8 rounded-full bg-gray-300 flex justify-center items-center overflow-hidden">
                <img src="w" alt="icon-3">
              </div>
              <span class="ml-2 text-sm md:text-base text-gray-700 leading-relax">Humedad</span>
            </div>
  
            <div class="flex items-center">
              <div class="w-8 h-8 rounded-full bg-gray-300 flex justify-center items-center overflow-hidden">
                <img src="w" alt="icon-4">
              </div>
              <span class="ml-2 text-sm md:text-base text-gray-700 leading-relax">Ausencia
                de
                corrientes de aire</span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="absolute hidden lg:block h-24 w-1 bg-gray-300 top-0 mx-auto right-0 left-0 rounded">
      </div>
    </div>
  
  </div>
  
  <p>
    <!-- SECCION 5 -->
  </p>
  
  <div class="bg-gray-900 py-12">
    <!-- imagen -->
  
    <div class="container px-4">
      <h2 class="text-white text-center text-lg md:text-xl">¿Cómo diseñamos el
        confort térmico?</h2>
  
      <div class="block mx-auto object-contain my-8"><img alt="multiconfort" data-entity-type="file"
          data-entity-uuid="4764cfa5-0dcc-416f-b584-f90c0b6783aa" src="/sites/sgva.master/files/inline-images/hose.png"
          class="align-center"></div>
  
      <!-- Circulos -->
  
      <div class="grid md:grid-cols-2 col-gap-4 row-gap-8">
        <div class="grid grid-cols-3">
          <div class="w-16 sm:w-24 h-16 sm:h-24 col-span-1 bg-white rounded-full mx-auto"></div>
  
          <div class="col-span-2 flex flex-col">
            <h4 class="text-base font-bold mb-1 md:text-lg text-white">Una
              envoltura hermética</h4>
  
            <p class="text-gray-300 text-sm md:text-base">Una envoltura
              hermética, junto con ventilación natural o mecánica, puede controlar el ambiente
              térmico interior mediante la gestión de los intercambios de aire con el
              exterior.</p>
          </div>
        </div>
        <div class="grid grid-cols-3">
          <div class="w-16 sm:w-24 h-16 sm:h-24 col-span-1 bg-white rounded-full mx-auto"></div>
  
          <div class="col-span-2 flex flex-col">
            <h4 class="text-base font-bold mb-1 md:text-lg text-white">Ganancia
              solar</h4>
  
            <p class="text-gray-300 text-sm md:text-base">A través de su forma
              general, orientación, número y tamaño de ventanas y la capacidad de las superficies
              para reflejar el calor, la envolvente del edificio puede controlar cuánto calor del
              sol (ganancia solar) puede ingresar al edificio.</p>
          </div>
        </div>
  
        <div class="grid grid-cols-3">
          <div class="w-16 sm:w-24 h-16 sm:h-24 col-span-1 bg-white rounded-full mx-auto"></div>
  
          <div class="col-span-2 flex flex-col">
            <h4 class="text-base font-bold mb-1 md:text-lg text-white">Inercia
              térmica</h4>
  
            <p class="text-gray-300 text-sm md:text-base">Los materiales
              utilizados para construir el edificio (la elección de ladrillo, piedra o madera, por
              ejemplo) tienen un impacto en la rapidez con que se sienten los cambios en las
              condiciones climáticas.</p>
          </div>
        </div>
  
        <div class="grid grid-cols-3">
          <div class="w-16 sm:w-24 h-16 sm:h-24 col-span-1 bg-white rounded-full mx-auto"></div>
  
          <div class="col-span-2 flex flex-col">
            <h4 class="text-base font-bold mb-1 md:text-lg text-white"><span id="disableBread"><span>Aislamiento</h4>
  
            <p class="text-gray-300 text-sm md:text-base">Aislar la envolvente
              del edificio y usar ventanas térmicamente eficientes reduce la pérdida de calor en
              invierno y las ganancias de calor de conducción en verano.</p>
          </div>
        </div>
      </div>
  
      <!-- final -->
  
      <div class="grid md:grid-cols-2 gap-6 mt-12 text-gray-300 text-sm md:text-base leading-relax">
        <div>
          <p class="mb-2">COMODIDAD TÉRMICA es el resultado de una combinación
            equilibrada de sistemas de construcción adaptados tanto a la ubicación del edificio como
            al tipo de actividad realizada dentro del edificio o la sala del edificio.
          </p>
  
          <p class="mb-2">Uno de los primeros pasos a considerar es el diseño de
            una envolvente de construcción eficiente. Esto actúa como un filtro entre el clima
            exterior y el interior. La envolvente del edificio puede afectar en gran medida el
            entorno térmico interior del edificio a través de la gestión de los factores que
            mencionamos.</p>
        </div>
  
        <div>
          <p class="mb-2">Los edificios MULTI COMFORT mantienen su temperatura
            interior ideal durante todo el año usando muy poca energía, tienen paredes que son
            agradables al tacto o se apoyan independientemente del clima afuera y no tienen
            corrientes de aire, incluso en el piso.</p>
        </div>
      </div>
  
    </div>
  
  </div>