<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card de Proyecto</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <style>
      
    </style>
  </head>

  <body>
    <!-- Card -->
    <div
      class="container mx-auto grid grid-cols-8 gap-4"
      style="max-width: 1024px;"
    >
      <div
        class="w-full mx-auto"
        style="max-width: 442px;"
        v-for="(post, index) in posts"
      >
        <div class="rounded overflow-hidden">
          <img
            :alt="post.field_header_image[0].url"
            :src="post.field_header_image[0].url"
            :title="post.field_header_image[0].title"
            class="object-cover h-48 md:h-64 w-full"
          />
        </div>

        <div class="p-4">
          <h3
            class="font-extrabold text-lg md:text-2xl text-gray-800 uppercase"
          >
            {{post.title[0].value}}
          </h3>

          <p class="mt-2 text-sm text-gray-600">
            {{post.field_description_blog[0].value}}
          </p>

          <div class="text-base text-gray-700 font-medium mt-2 flex">
            <i class="icon-star mr-1"></i>{{read(post)}} min de lectura
          </div>

          <div class="flex justify-between items-center mt-3">
            <time
              :datetime="post.field_date[0].value"
              class="text-gray-600 text-sm capitalize"
              ><i class="icon-calendar mr-1"></i
              >{{formatDate(post.field_date[0].value)}}
            </time>
            <a
              :href="url + post.path[0].alias"
              class="text-base text-blue-500 hover:text-white hover:bg-orange-500 uppercase rounded py-2 px-3 transition duration-200"
              >Leer más <i class="icon-right-open ml-1"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
