<div class="bg-gray-200">
    <div class="container px-4 py-12">
      <!-- Title -->
      <div class="px-6 flex items-center">
        <div class="sm:border-r border-gray-800 sm:pr-4">
          <h3 class="uppercase text-gray-800 font-medium text-lg sm:text-2xl">
            Vidrio Andino
          </h3>

          <p
            class="ml-16 uppercase text-gray-800 font-medium text-xl sm:text-3xl"
          >
            productos vidrio andino?
          </p>
        </div>

        <div class="ml-4">
          <p class="text-normal font-normal text-gray-800 hidden sm:block">
            Vidrio local de calidad Mundial
          </p>
        </div>
      </div>
      <div class="grid sm:grid-cols-3 lg:grid-cols-5 gap-4 my-12">
        <a
          href="/quienes-somos"
          class="flex justify-center flex-col rounded border px-2 py-4 border-blue-500"
        >
          <div class="flex justify-center mb-2">
            <img src="/sites/sgva.master/files/inline-images/icon_1_0.png" alt="icon 1" />
          </div>
          <p class="text-center text-gray-700 font-medium h-16">
            Única planta de vidrio flotado en Colombia
          </p>
        </a>
        <a
          href="/grupo-saint-gobain"
          class="flex justify-center flex-col rounded border px-2 py-4 border-blue-500"
        >
          <div class="flex justify-center mb-2">
            <img src="/sites/sgva.master/files/inline-images/icon_2_0.png" alt="icon 2" />
          </div>
          <p class="text-center text-gray-700 font-medium h-16">
            Con respaldo internacional
          </p>
        </a>
        <a
          href="/multi-confort"
          class="flex justify-center flex-col rounded border px-2 py-4 border-blue-500"
        >
          <div class="flex justify-center mb-2">
            <img src="/sites/sgva.master/files/inline-images/icon_3_0.png" alt="icon 3" />
          </div>
          <p class="text-center text-gray-700 font-medium h-16">
            Productos sostenibles que mejoran tu calidad de vida
          </p>
        </a>
        <a
          href="/carreras"
          class="flex justify-center flex-col rounded border px-2 py-4 border-blue-500"
        >
          <div class="flex justify-center mb-2">
            <img src="/sites/sgva.master/files/inline-images/icon_4_0.png" alt="icon 4" />
          </div>
          <p class="text-center text-gray-700 font-medium h-16">
            Somos marca empleadora
          </p>
        </a>
        <a
          href="/rse"
          class="flex justify-center flex-col rounded border px-2 py-4 border-blue-500"
        >
          <div class="flex justify-center mb-2">
            <img src="/sites/sgva.master/files/inline-images/icon_5_0.png" alt="icon 5" />
          </div>
          <p class="text-center text-gray-700 font-medium h-16">
            Responsables con nuestra comunidad
          </p>
        </a>
      </div>
    </div>
  </div>