<style>
  .product_image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
<div class="container py-12 px-4">
  <div class="px-6 flex items-center py-8">
    <div class="sm:border-r border-gray-800 sm:pr-4">
      <h3 class="uppercase text-gray-800 font-medium text-lg sm:text-2xl">
        Vidrio Andino
      </h3>
      <h2 class="ml-16 uppercase text-gray-800 font-medium text-xl sm:text-3xl">
        ¿Qué estás buscado?
      </h2>
    </div>
    <div class="ml-4">
      <p class="text-normal font-normal text-gray-800 hidden sm:block">
        Nuestros productos
      </p>
    </div>
  </div>
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <!-- (Complementos)-->
    <a
      href="/complementos"
      class="product_image flex rounded overflow-hidden bg-blue-500 transition-all duration-200 hover:bg-blue-600 p-4 text-white text-center text-base uppercase"
    >
      <div class="overflow-hidden rounded w-40 h-24">
        <img
          src="/sites/sgva.master/files/inline-images/COMPLEMENTOS-2.png"
          alt="complementos"
        />
      </div>

      <div class="w-full flex flex-col justify-center items-center p-2">
        <h3>Complementos para <br /><strong>Vidrios</strong></h3>
      </div>
    </a>
    <!--  (Vidrio para fachadas)-->
    <a
      href="/productos/aplicaciones/fachadas"
      class="product_image flex rounded overflow-hidden bg-blue-500 transition-all duration-200 hover:bg-blue-600 p-4 text-white text-center text-base uppercase"
    >
      <div class="overflow-hidden rounded w-40 h-24">
        <img
          src="/sites/sgva.master/files/inline-images/FACHADA_0.png"
          alt="fachadas"
        />
      </div>

      <div class="w-full flex flex-col justify-center items-center p-2">
        <h3>Vidrios para <br /><strong>Fachadas</strong></h3>
      </div>
    </a>
    <!--  (Vidrio para ventanas)-->
    <a
      href="/productos/aplicaciones/ventanas"
      class="product_image flex rounded overflow-hidden bg-blue-500 transition-all duration-200 hover:bg-blue-600 p-4 text-white text-center text-base uppercase"
    >
      <div class="overflow-hidden rounded w-40 h-24">
        <img
          src="/sites/sgva.master/files/inline-images/VENTANA.png"
          alt="ventanas"
        />
      </div>

      <div class="w-full flex flex-col justify-center items-center p-2">
        <h3>Vidrios para <br /><strong>Ventanas</strong></h3>
      </div>
    </a>
    <!--  (Diseño de interior)-->
    <a
      href="/productos/aplicaciones/diseño-interior"
      class="product_image flex rounded overflow-hidden bg-blue-500 transition-all duration-200 hover:bg-blue-600 p-4 text-white text-center text-base uppercase"
    >
      <div class="overflow-hidden rounded w-40 h-24">
        <img
          src="/sites/sgva.master/files/inline-images/DISENO-INTERIOR.png"
          alt="diseño de interior"
        />
      </div>

      <div class="w-full flex flex-col justify-center items-center p-2">
        <h3>Vidrios para <br /><strong>Diseño de Interior</strong></h3>
      </div>
    </a>
    <!--  (Industria Refrigeración)-->
    <a
      href="/productos/aplicaciones/refrigeracion"
      class="product_image flex rounded overflow-hidden bg-blue-500 transition-all duration-200 hover:bg-blue-600 p-4 text-white text-center text-base uppercase"
    >
      <div class="overflow-hidden rounded w-40 h-24">
        <img
          src="/sites/sgva.master/files/inline-images/REFRIGERACION.png"
          alt="refrigeración"
        />
      </div>

      <div class="w-full flex flex-col justify-center items-center p-2">
        <h3>Vidrios para <br /><strong>Industria Refrigeración</strong></h3>
      </div>
    </a>
    <!--  (Ver todos)-->
    <a
      href="/nuestros-productos"
      class="product_image flex rounded overflow-hidden bg-blue-500 transition-all duration-200 hover:bg-blue-600 p-4 text-white text-center text-base uppercase"
    >
      <div class="overflow-hidden rounded w-40 h-24">
        <img
          src="/sites/sgva.master/files/inline-images/VER-TODOS.png"
          alt="productos vidrio andino"
        />
      </div>

      <div class="w-full flex flex-col justify-center items-center p-2">
        <h3>Ver todos los <br /><strong>Productos</strong></h3>
      </div>
    </a>
  </div>
</div>
