<div id="disableBread" class="bg-gray-200">
    <div class="container px-4 py-8">
        <!-- Title -->
        <div class="px-6 flex items-center py-8">
            <div class="sm:border-r border-gray-800 sm:pr-4">
                <h3 class="uppercase text-gray-800 font-medium text-lg sm:text-2xl">
                    Vidrio Andino
                </h3>

                <h2 class="ml-16 uppercase text-gray-800 font-medium text-xl sm:text-3xl">
                    ¿cÓmo podemos ayudarte?
                </h2>
            </div>

            <div class="ml-4">
                <p class="text-normal font-normal text-gray-800 hidden sm:block">
                    Soluciones a tu medida
                </p>
            </div>
        </div>
        <!-- CONTENT -->
        <div>
            <p class="text-sm md:text-base text-gray-700 leading-relax text-center">
                Encuentra tu vidriero de confianza o asesoría profesional para la especificación de vidrio en tu proyecto de construcción.
            </p>
            <div class="flex flex-col md:flex-row items-center mt-8 sm:mt-16 mb-8 justify-center">
                <a href="#" class="block m-0 relative bg-blue-500 p-4 w-full md:mr-4" style="max-width: 400px;">
                    <span class="block w-48 m-0 text-base md:text-lg text-white leading-relax uppercase font-medium">Busca un Vidriero en mi zona
          </span>
                    <div class="absolute bottom-0 w-24 sm:w-auto right-0">
                        <img src="/sites/sgva.master/files/inline-images/person_%21_0.png" alt="person 1" />
                    </div>
                </a>
                <a href="#" class="block m-0 mt-4 sm:mt-16 md:mt-0 relative bg-blue-500 p-4 w-full" style="max-width: 400px;">
                    <span class="block w-48 m-0 text-base md:text-lg text-white leading-relax uppercase font-medium">acompañamiento en tu proyecto
          </span>
                    <div class="absolute bottom-0 w-24 sm:w-auto right-0">
                        <img src="/sites/sgva.master/files/inline-images/person_2_0.png" ƒalt="person 2" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>