<style type="text/css">
    .project__card {
        width: 100%;
        max-width: 450px;
        height: 240px;
    }
    
    .project__more--circle {
        transform: translate(50%, -50%) scale(0);
        opacity: 0;
    }
    
    .project__more--text {
        opacity: 0;
    }
    
    .project__card:hover .project__more--text {
        opacity: 1;
    }
    
    .project__card:hover .project__more--circle {
        transform: translate(50%, -50%) scale(1.25);
        opacity: 1;
    }
    
    .project__card:hover img {
        transform: rotate(15deg) scale(1.3);
        filter: saturate(30%);
    }
</style>

<div id="lastProjects" class="container my-12">
    <!-- Title -->
    <div class="px-6 flex items-center">
        <div class="sm:border-r border-gray-800 sm:pr-4">
            <h3 class="uppercase text-gray-800 font-medium text-lg sm:text-2xl">
                Vidrio Andino
            </h3>

            <p class="ml-16 uppercase text-gray-800 font-medium text-xl sm:text-3xl">
                NUESTROS PROYECTOS
            </p>
        </div>

        <div class="ml-4">
            <p class="text-normal font-normal text-gray-800 hidden sm:block">
                Últimos proyectos
            </p>
        </div>
    </div>
    <ul class="grid md:grid-cols-3 gap-4 mt-8 px-4 sm:px-0 my-8">
        <li class="block my-0 mx-auto relative overflow-hidden rounded w-full h-40 lg:h-56 xl:h-full" style="max-height: 240px; max-width: 450px;" v-for="project in content">
            <a :href="project.path[0].alias" class="project__card block m-0 overflow-hidden cursor-pointer">
                <img class="block transition-all duration-300 object-cover m-0" :src="project.field_cover_proyecto[0].url" :alt="project.field_cover_proyecto[0].alt" />
                <div class="absolute w-full bg-black pl-6 text-white p-2 opacity-75 text-lg font-medium bottom-0">
                    <h3 class="font-bold uppercase">{{project.title[0].value}}</h3>
                </div>
                <button class="project__more--text absolute font-bold inline-block text-sm top-0 right-0 transition-all duration-300 text-white mr-2 z-10 mt-6">
            Ver más
          </button>
                <div class="project__more--circle absolute top-0 right-0 w-32 h-32 transition-all duration-300 bg-blue-500 rounded-full shadow-lg"></div>
            </a>
        </li>
    </ul>
    <div class="flex justify-center md:justify-end">
        <a href="/proyectos" class="px-3 py-2 bg-blue-500 hover:bg-blue-600 transition duration-200 text-white text-base">Ver más proyectos</a
      >
    </div>
  </div>
  <script>
    const lastProjects = new Vue({
      el: "#lastProjects",
      data() {
        return {
          content: null,
        };
      },
      mounted() {
        axios
          .get(`${window.location.origin}/api/proyectos?_format=json`)
          .then((response) => {
            this.content = [
              response.data[0],
              response.data[1],
              response.data[2],
            ];
          });
      },
    });
  </script>