<!-- Title  -->
<div class="container px-6 xl:px-40 flex items-center">
    <div class="sm:border-r border-gray-800 sm:pr-4">
        <h3 class="uppercase text-gray-800 font-medium text-lg sm:text-2xl">vidrio andino</h3>

        <p class="ml-16 uppercase text-gray-800 font-medium text-xl sm:text-3xl">Beneficios</p>
    </div>

    <div class="ml-4">
        <p class="text-normal font-normal text-gray-800 hidden sm:block">&nbsp;Encuentra el vidrio ideal de acuerdo a los beneficios que quieres obtener en tu espacio o proyecto.</p>
    </div>
</div>
<!-- End title -->
<!-- Description -->
<div class="container mt-12 lg:mt-16 px-6">
    <p class="text-center font-bold text-lg sm:text-2xl w-full lg:w-5/6 xl:w-2/3 mx-auto">¿Sabías que nuestro vidrio puede aportar múltiples beneficios en tus proyectos como el confort de los espacios que habitas en el día a día?
    </p>

    <p class="text-blue-500 uppercase font-normal text-center text-lg sm:text-2xl mt-2">¡Hoy vivir de forma confortable SI es posible!</p>
</div>
<!-- End Description  -->
<!-- Beneficio Cards  -->
<div class="container mt-10 mb-40 px-6 md:px-0">
    <div class="bn-cards__container grid md:grid-cols-2 gap-5 mx-auto w-full">
        <!-- Cart Item -->
        <a class="vd-beneficio__card relative overflow-hidden text-white mx-auto bn-mustard" href="/productos/beneficios/confort-termico">
            <!-- Card image -->
            <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/image-confort-termico.png">
            <!-- Card Content -->
            <div class="vd-beneficio__card--container grid h-full gap-3 absolute z-10">
                <!-- Card Firts icon -->
                <div class="vd-beneficio__card--firtsIcon h-full flex flex-col items-center pt-5">
                    <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/icon-confort-termico.png">
                </div>
                <!-- Card Content -->
                <div class="vd-beneficio__card--content">
                    <h3 class="text-base sm:text-2xl mt-4 mb-4 sm:mb-6 font-bold">Confort Térmico</h3>

                    <p class="font-medium text-sm lg:text-base">
                        Bloquean hasta el 99% de los rayos UV (en vidrio laminado), disminuyendo los daños en la piel, el deterioro en muebles y objetos.
                    </p>
                </div>
                <!-- Card Secod Icon -->
                <div class="vd-beneficio__card--secondIcon flex flex-col-reverse items-center pb-6">
                    <img alt="Icon Right" src="/sites/sgva.master/files/inline-images/chevron-right.png">
                </div>
            </div>
        </a>
        <!-- Cart Item -->
        <a class="vd-beneficio__card relative overflow-hidden text-white mx-auto bn-orange" href="/productos/beneficios/confort-termico">
            <!-- Card image -->
            <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/image-proteccion-uv.png">
            <!-- Card Content -->
            <div class="vd-beneficio__card--container grid h-full gap-3 absolute z-10">
                <!-- Card Firts icon -->
                <div class="vd-beneficio__card--firtsIcon h-full flex flex-col items-center pt-5">
                    <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/icon-proteccion.png">
                </div>
                <!-- Card Content -->
                <div class="vd-beneficio__card--content">
                    <h3 class="text-base sm:text-2xl mt-4 mb-4 sm:mb-6 font-bold">Protección UV</h3>

                    <p class="font-medium text-sm lg:text-base">
                        hasta el 70% del ingreso de calor en la vivienda, generando sensación de confort con una temperatura agradable aún en los días más calurosos.
                    </p>
                </div>
                <!-- Card Secod Icon -->
                <div class="vd-beneficio__card--secondIcon flex flex-col-reverse items-center pb-6">
                    <img alt="Icon Right" src="/sites/sgva.master/files/inline-images/chevron-right.png">
                </div>
            </div>
        </a>
        <!-- Cart Item -->
        <a class="vd-beneficio__card relative overflow-hidden text-white mx-auto bn-blue" href="/productos/beneficios/confort-visual">
            <!-- Card image -->
            <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/image-confort-visual_0.png">
            <!-- Card Content -->
            <div class="vd-beneficio__card--container grid h-full gap-3 absolute z-10">
                <!-- Card Firts icon -->
                <div class="vd-beneficio__card--firtsIcon h-full flex flex-col items-center pt-5">
                    <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/Confort%20Visual.png">
                </div>
                <!-- Card Content -->
                <div class="vd-beneficio__card--content">
                    <h3 class="text-base sm:text-2xl mt-4 mb-4 sm:mb-6 font-bold">Confort Visual</h3>

                    <p class="font-medium text-sm lg:text-base">
                        Nuestro objetivo es contribuir con esta rica experiencia para dar un futuro mejor, construyendo ambientes de vida y trabajos óptimos.
                    </p>
                </div>
                <!-- Card Secod Icon -->
                <div class="vd-beneficio__card--secondIcon flex flex-col-reverse items-center pb-6">
                    <img alt="Icon Right" src="/sites/sgva.master/files/inline-images/chevron-right.png">
                </div>
            </div>
        </a>
        <!-- Cart Item -->
        <a class="vd-beneficio__card relative overflow-hidden text-white mx-auto bn-purple" href="/productos/beneficios/confort-acustico">
            <!-- Card image -->
            <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/image-confort-acustico.png">
            <!-- Card Content -->
            <div class="vd-beneficio__card--container grid h-full gap-3 absolute z-10">
                <!-- Card Firts icon -->
                <div class="vd-beneficio__card--firtsIcon h-full flex flex-col items-center pt-5">
                    <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/Confort%20Acu%CC%81stico.png">
                </div>
                <!-- Card Content -->
                <div class="vd-beneficio__card--content">
                    <h3 class="text-base sm:text-2xl mt-4 mb-4 sm:mb-6 font-bold">Confort Acústico</h3>

                    <p class="font-medium text-sm lg:text-base">
                        Nuestro objetivo es contribuir con esta rica experiencia para dar un futuro mejor, construyendo ambientes de vida y trabajos óptimos.
                    </p>
                </div>
                <!-- Card Secod Icon -->
                <div class="vd-beneficio__card--secondIcon flex flex-col-reverse items-center pb-6">
                    <img alt="Icon Right" src="/sites/sgva.master/files/inline-images/chevron-right.png">
                </div>
            </div>
        </a>
        <!-- Cart Item -->
        <a class="vd-beneficio__card relative overflow-hidden text-white mx-auto bn-gray" href="/productos/beneficios/privacidad">
            <!-- Card image -->
            <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/image-privacidad.png">
            <!-- Card Content -->
            <div class="vd-beneficio__card--container grid h-full gap-3 absolute z-10">
                <!-- Card Firts icon -->
                <div class="vd-beneficio__card--firtsIcon h-full flex flex-col items-center pt-5">
                    <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/Privacidad.png">
                </div>
                <!-- Card Content -->
                <div class="vd-beneficio__card--content">
                    <h3 class="text-base sm:text-2xl mt-4 mb-4 sm:mb-6 font-bold">Privacidad</h3>

                    <p class="font-medium text-sm lg:text-base">
                        Nuestro objetivo es contribuir con esta rica experiencia para dar un futuro mejor, construyendo ambientes de vida y trabajos óptimos
                    </p>
                </div>
                <!-- Card Secod Icon -->
                <div class="vd-beneficio__card--secondIcon flex flex-col-reverse items-center pb-6">
                    <img alt="Icon Right" src="/sites/sgva.master/files/inline-images/chevron-right.png">
                </div>
            </div>
        </a>
        <!-- Cart Item -->
        <a class="vd-beneficio__card relative overflow-hidden text-white mx-auto bn-green" href="/productos/beneficios/privacidad">
            <!-- Card image -->
            <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/image-medio-ambiente.png">
            <!-- Card Content -->
            <div class="vd-beneficio__card--container grid h-full gap-3 absolute z-10">
                <!-- Card Firts icon -->
                <div class="vd-beneficio__card--firtsIcon h-full flex flex-col items-center pt-5">
                    <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/Proteccio%CC%81n%20del%20medio%20ambiente.png">
                </div>
                <!-- Card Content -->
                <div class="vd-beneficio__card--content">
                    <h3 class="text-base sm:text-2xl mt-4 mb-4 sm:mb-6 font-bold">Protección del medio ambiente</h3>

                    <p class="font-medium text-sm lg:text-base">
                        Nuestro objetivo es contribuir con esta rica experiencia para dar un futuro mejor, construyendo ambientes de vida y trabajo
                    </p>
                </div>
                <!-- Card Secod Icon -->
                <div class="vd-beneficio__card--secondIcon flex flex-col-reverse items-center pb-6">
                    <img alt="Icon Right" src="/sites/sgva.master/files/inline-images/chevron-right.png">
                </div>
            </div>
        </a>
        <!-- Cart Item -->
        <a class="vd-beneficio__card relative overflow-hidden text-white mx-auto bn-magenta" href="/productos/beneficios/medio-ambiente">
            <!-- Card image -->
            <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/image-seguridad.png">
            <!-- Card Content -->
            <div class="vd-beneficio__card--container grid h-full gap-3 absolute z-10">
                <!-- Card Firts icon -->
                <div class="vd-beneficio__card--firtsIcon h-full flex flex-col items-center pt-5">
                    <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/Seguridad.png">
                </div>
                <!-- Card Content -->
                <div class="vd-beneficio__card--content">
                    <h3 class="text-base sm:text-2xl mt-4 mb-4 sm:mb-6 font-bold">Seguridad</h3>

                    <p class="font-medium text-sm lg:text-base">
                        Protege a tu familia utilizando vidrios BienEstar laminados o templados.
                    </p>
                </div>
                <!-- Card Secod Icon -->
                <div class="vd-beneficio__card--secondIcon flex flex-col-reverse items-center pb-6">
                    <img alt="Icon Right" src="/sites/sgva.master/files/inline-images/chevron-right.png">
                </div>
            </div>
        </a>
        <!-- Cart Item -->
        <a class="vd-beneficio__card relative overflow-hidden text-white mx-auto bn-yellow" href="/productos/beneficios/proteccion-contra-el-fuego">
            <!-- Card image -->
            <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/imge-contra-fuego.png">
            <!-- Card Content -->
            <div class="vd-beneficio__card--container grid h-full gap-3 absolute z-10">
                <!-- Card Firts icon -->
                <div class="vd-beneficio__card--firtsIcon h-full flex flex-col items-center pt-5">
                    <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/Proteccio%CC%81n%20contra%20el%20fuego.png">
                </div>
                <!-- Card Content -->
                <div class="vd-beneficio__card--content">
                    <h3 class="text-base sm:text-2xl mt-4 mb-4 sm:mb-6 font-bold">Protección contra el fuego</h3>

                    <p class="font-medium text-sm lg:text-base">
                        Nuestro objetivo es contribuir con esta rica experiencia para dar un futuro mejor, construyendo ambientes de vida y trabajos óptimos y cómo.
                    </p>
                </div>
                <!-- Card Secod Icon -->
                <div class="vd-beneficio__card--secondIcon flex flex-col-reverse items-center pb-6">
                    <img alt="Icon Right" src="/sites/sgva.master/files/inline-images/chevron-right.png">
                </div>
            </div>
        </a>
        <!-- Cart Item -->
        <a class="vd-beneficio__card relative overflow-hidden text-white mx-auto bn-darkpurple" href="/productos/beneficios/diseño-estetico">
            <!-- Card image -->
            <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/image-diseno-estetico.png">
            <!-- Card Content -->
            <div class="vd-beneficio__card--container grid h-full gap-3 absolute z-10">
                <!-- Card Firts icon -->
                <div class="vd-beneficio__card--firtsIcon h-full flex flex-col items-center pt-5">
                    <img alt="Diseño Estetico" src="/sites/sgva.master/files/inline-images/Disen%CC%83o%20Este%CC%81tico.png">
                </div>
                <!-- Card Content -->
                <div class="vd-beneficio__card--content">
                    <h3 class="text-base sm:text-2xl mt-4 mb-4 sm:mb-6 font-bold">Diseño Estético</h3>

                    <p class="font-medium text-sm lg:text-base">
                        los tonos de los vidrios BienEstar aportan un diseño moderno a la ventanería de tu hogar, tanto interna como externamente.
                    </p>
                </div>
                <!-- Card Secod Icon -->
                <div class="vd-beneficio__card--secondIcon flex flex-col-reverse items-center pb-6">
                    <img alt="Icon Right" src="/sites/sgva.master/files/inline-images/chevron-right.png">
                </div>
            </div>
        </a>
        <!-- End Card -->
        <!-- Cart Item -->
        <a class="vd-beneficio__card relative overflow-hidden text-white mx-auto bn-darkblue" href="/productos/beneficios/ahorro-energetico">
            <!-- Card image -->
            <img alt="Ahorro de Energia" src="/sites/sgva.master/files/inline-images/image-ahorro-energia.png">
            <!-- Card Content -->
            <div class="vd-beneficio__card--container grid h-full gap-3 absolute z-10">
                <!-- Card Firts icon -->
                <div class="vd-beneficio__card--firtsIcon h-full flex flex-col items-center pt-5">
                    <img alt="Ahorro Energético" data-entity-type="file" data-entity-uuid="4026ac2b-be20-42e0-9eb7-3ab8e2424aa1" src="/sites/sgva.master/files/inline-images/Ahorro%20Energe%CC%81tico.png">
                </div>
                <!-- Card Content -->
                <div class="vd-beneficio__card--content">
                    <h3 class="text-base sm:text-2xl mt-4 mb-4 sm:mb-6 font-bold">Ahorro Energético</h3>

                    <p class="font-medium text-sm lg:text-base">
                        Gasta menos dinero en el consumo de aire acondicionado, ventiladores y luz artificial
                    </p>
                </div>
                <!-- Card Secod Icon -->
                <div class="vd-beneficio__card--secondIcon flex flex-col-reverse items-center pb-6">
                    <img alt="Icon Right" src="/sites/sgva.master/files/inline-images/chevron-right.png">
                </div>
            </div>
        </a>
        <!-- End Card -->
    </div>
</div>
<!-- End Beneficio Cards -->
<script>
    const bnConfort = document.getElementById("bnConfort");

    document.querySelectorAll(".vd-beneficio__card").forEach(item => {
        item.style.backgroundImage =
            "url" + "(" + `${item.firstElementChild.src}` + ")";
        item.firstElementChild.classList.add("hidden");
    });
</script>