<!-- Title  -->
<div class="container px-6 xl:px-40 flex items-center">
  <div class="sm:border-r border-gray-800 sm:pr-4">
    <h3 class="uppercase text-gray-800 font-medium text-lg sm:text-2xl">
      vidrio andino
    </h3>

    <p class="ml-16 uppercase text-gray-800 font-medium text-xl sm:text-3xl">
      Historia
    </p>
  </div>

  <div class="ml-4">
    <p class="text-normal font-normal text-gray-800 hidden sm:block">
      Nuestra historia.
    </p>
  </div>
</div>
<!-- End title -->
<!-- Video Quienes Somos -->
<div class="container my-6 px-6">
  <iframe
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen=""
    class="vd-video w-full"
    frameborder="0"
    src="https://www.youtube.com/embed/7CWK875bs3k"
  ></iframe
  ><!-- End Video Quienes Somos -->
</div>
<!-- Section Paises  -->
<div
  class="bg-gray-200 py-12 bg-no-repeat bg-center bg-cover"
  id="sectionPaises"
  style='background-image: url("https://sgvad8.vidrioandino.com/sites/sgva.master/files/inline-images/background-paises%20%281%29.png");'
>
  <img
    alt="Bg Paises"
    data-entity-type="file"
    data-entity-uuid="e0b1fa3b-044c-4d4d-b80d-ffa312bb2158"
    src="/sites/sgva.master/files/inline-images/background-paises%20%281%29.png"
    class="hidden"
  />
  <div class="container px-6 xl:px-40 flex items-center">
    <div class="sm:border-r border-gray-800 sm:pr-4">
      <h3 class="uppercase text-gray-800 font-medium text-lg sm:text-2xl">
        vidrio andino
      </h3>

      <p class="ml-16 uppercase text-gray-800 font-medium text-xl sm:text-3xl">
        Encuéntranos
      </p>
    </div>

    <div class="ml-4">
      <p class="text-normal font-normal text-gray-800 hidden sm:block">
        Una marca con presencia en Colombia, Ecuador y Venezuela
      </p>
    </div>
  </div>

  <div class="py-16 container flex px-6 justify-center">
    <img
      alt="Países Encuentranos"
      data-entity-type="file"
      data-entity-uuid="df311d4d-1aee-4b17-8dba-b40da4e76cbb"
      src="/sites/sgva.master/files/inline-images/paises-encuentranos.png"
    />
  </div>
</div>
<!-- End Section Paises -->
<!-- Section En Colombia -->
<div
  class="bg-center relative bg-no-repeat bg-cover bgColombia"
  id="bannerEnColombia"
  style='background-image: url("https://sgvad8.vidrioandino.com/sites/sgva.master/files/inline-images/DSC09487.JPG");'
>
  <div class="container py-8">
    <div class="container px-6 xl:px-40 flex items-center">
      <div class="sm:border-r border-white sm:pr-4">
        <h3 class="uppercase text-white font-medium text-lg sm:text-2xl">
          vidrio andino
        </h3>

        <p
          class="ml-16 whitespace-no-wrap uppercase text-white font-medium text-xl sm:text-3xl"
        >
          En Colombia
        </p>
      </div>

      <div class="ml-4">
        <p class="text-normal font-normal text-white hidden sm:block">
          Proveemos soluciones a nivel nacional desde nuestros centros de
          distribución
        </p>
      </div>
    </div>

    <div class="flex justify-center py-8 px-6">
      <img
        alt="Distribuidores en Colombia"
        data-entity-type="file"
        data-entity-uuid="7505dde0-5d92-4d85-9d91-c25bf0c3f64c"
        src="/sites/sgva.master/files/inline-images/distribuidores-colombia.png"
      />
    </div>
  </div>
</div>
<!-- Section En Colombia -->
<!-- Section Mision y Vision -->
<div class="container py-8">
  <div class="px-6 xl:px-40 flex items-center">
    <div class="sm:border-r border-gray-800 sm:pr-4">
      <h3 class="uppercase text-gray-800 font-medium text-lg sm:text-2xl">
        vidrio andino
      </h3>

      <p class="ml-16 uppercase text-gray-800 font-medium text-xl sm:text-3xl">
        Misión y Visión
      </p>
    </div>

    <div class="ml-4">
      <p class="text-normal font-normal text-gray-800 hidden sm:block">
        Valores coporativos
      </p>
    </div>
  </div>

  <div class="grid md:grid-cols-2 gap-5 mt-16 px-6 lg:px-40">
    <div>
      <h2 class="uppercase text-base text-blue-500 font-bold mb-4">
        Misión
      </h2>

      <p class="mb-4">
        Somos la primera Planta de Vidrio Flotado en Colombia, entregando
        productos y servicios de calidad de forma segura y sostenible,
        utilizando tecnología de punta.
      </p>

      <p class="mb-4">
        Nuestra misión se fundamenta en nuestros valores corporativos:
      </p>

      <h3 class="text-base text-blue-500 font-normal mb-4">
        Principios generales de conducta:
      </h3>

      <p class="mb-4 flex">
        Compromiso profesional, Respeto a las personas, Integridad, Lealtad,
        Solidaridad
      </p>

      <h3 class="text-base text-blue-500 font-normal mb-4">
        Principios generales de actuación:
      </h3>

      <p class="mb-4 flex">
        Respeto por la legalidad vigente, Respeto al medio ambiente, Respeto a
        la Seguridad e Higiene en el trabajo y Respeto a los derechos de los
        empleados.
      </p>

      <h2 class="uppercase text-base text-blue-500 font-bold mb-4">
        Visión
      </h2>

      <p class="mb-4">
        Ser referencia de innovación y servicio en el mercado del vidrio plano.
      </p>
    </div>

    <div>
      <img
        alt="En Colombia"
        data-entity-type="file"
        data-entity-uuid="59b9032c-e1bf-48f7-9666-3935f6b2db92"
        id="beforeBanner"
        src="/sites/sgva.master/files/inline-images/DSC09487.JPG"
      />
    </div>
  </div>
</div>
<!-- End Section Mision y Vision -->
<!-- Section Politica de gestion -->
<div class="bg-gray-200 py-8">
  <div class="container">
    <div class="px-6 xl:px-40 flex items-center">
      <div class="sm:border-r border-gray-800 sm:pr-4">
        <h3 class="uppercase text-gray-800 font-medium text-lg sm:text-2xl">
          vidrio andino
        </h3>

        <p
          class="ml-12 sm:ml-16 whitespace-no-wrap uppercase text-gray-800 font-medium text-xl sm:text-3xl"
        >
          Política de Gestión
        </p>
      </div>

      <div class="ml-4">
        <p class="text-normal font-normal text-gray-800 hidden sm:block">
          Servicios de alta calidad
        </p>
      </div>
    </div>

    <div class="grid lg:grid-cols-2 px-6 xl:px-40 py-8 lg:gap-4">
      <div class="flex flex-col">
        <p class="mb-4 flex">
          <img
            class="inline-block mr-2 mt-1 object-contain h-4"
            src="/sites/sgva.master/files/inline-images/ICONO1.png"
            alt="Icon 1"
          />
          Vidrio Andino actuando como fabricante y comercializador de vidrio
          flotado busca el desempeño competitivo y responsable de todas sus
          actividades, sustentando los siguientes aspectos: somos la primera
          Planta de Vidrio Flotado en Colombia, entregando productos y servicios
          de calidad de forma segura y sostenible, utilizando tecnología de
          punta.
        </p>

        <p class="mb-4 flex">
          <img
            class="inline-block mr-2 mt-1 object-contain h-4"
            src="/sites/sgva.master/files/inline-images/ICONO2.png"
            alt="Icon 2"
          />
          Gestionamos los riesgos que pueden generar lesiones y enfermedades
          laborales.
        </p>

        <p class="mb-4 flex">
          <img
            class="inline-block mr-2 mt-1 object-contain h-4"
            src="/sites/sgva.master/files/inline-images/ICONO3.png"
            alt="Icon 3"
          />
          Prevenimos el impacto ambiental de nuestras operaciones fomentando el
          desarrollo sostenible.
        </p>

        <p class="mb-4 flex">
          <img
            class="inline-block mr-2 mt-1 object-contain h-4"
            src="/sites/sgva.master/files/inline-images/ICONO4.png"
            alt="Icon 4"
          />
          Cumplimos los requerimientos legales y otros requerimientos
          aplicables.
        </p>
      </div>

      <div class="flex flex-col">
        <p class="mb-4 flex">
          <img
            class="inline-block mr-2 mt-1 object-contain h-4"
            src="/sites/sgva.master/files/inline-images/ICONO5.png"
            alt="Icon 5"
          />
          La satisfacción del cliente es el centro de nuestra razón de ser.
        </p>

        <p class="mb-4 flex">
          <img
            class="inline-block mr-2 mt-1 object-contain h-4"
            src="/sites/sgva.master/files/inline-images/ICONO6.png"
            alt="Icon 6"
          />
          Ofrecemos productos y servicios de alta calidad.
        </p>

        <p class="mb-4 flex">
          <img
            class="inline-block mr-2 mt-1 object-contain h-4"
            src="/sites/sgva.master/files/inline-images/ICONO7.png"
            alt="Icon 7"
          />
          Nuestra cultura de trabajo está basada en la mejora continua.
        </p>

        <p class="mb-4 flex">
          <img
            class="inline-block mr-2 mt-1 object-contain h-4"
            src="/sites/sgva.master/files/inline-images/ICONO8.png"
            alt="Icon 8"
          />
          Estamos comprometidos con la Responsabilidad Social Empresarial.
        </p>

        <p class="mb-4 flex">
          <img
            class="inline-block mr-2 mt-1 object-contain h-4"
            src="/sites/sgva.master/files/inline-images/ICONO9.png"
            alt="Icon 9"
          />
          Con nuestro espíritu emprendedor controlamos los riesgos y
          aprovechamos las oportunidades para lograr los resultados previos.
        </p>

        <p class="mb-4 flex">
          <img
            class="inline-block mr-2 mt-1 object-contain h-4"
            src="/sites/sgva.master/files/inline-images/ICONO10.png"
            alt="Icon 10"
          />
          Fomentamos la integridad de las operaciones de comercio internacional,
          manteniendo altos estándares de seguridad y control en la cadena de
          suministro.
        </p>

        <p class="mb-4 flex">
          <img
            class="inline-block mt-1 mr-2 h-4"
            src="/sites/sgva.master/files/inline-images/ICONO11.png"
            alt="Icon 11"
          />
          Descargar nuestra
          <a
            class="underline ml-2 font-medium hover:text-blue-500"
            download=""
            href="/sites/sgva.master/files/2020-02/POLITICA-V4_compressed%20%281%29.pdf"
            >Política de Gestión</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Section Politica de gestion -->
<!-- Section Politica de gestion -->
<div class="container py-8">
  <div class="px-6 xl:px-40 flex items-center">
    <div class="sm:border-r border-gray-800 sm:pr-4">
      <h3 class="uppercase text-gray-800 font-medium text-lg sm:text-2xl">
        vidrio andino
      </h3>

      <p
        class="ml-12 sm:ml-16 whitespace-no-wrap uppercase text-gray-800 font-medium text-xl sm:text-3xl"
      >
        Línea de Producción
      </p>
    </div>

    <div class="ml-4">
      <p class="text-normal font-normal text-gray-800 hidden sm:block">
        Así se fabrica nuestro vidrio flotado.
      </p>
    </div>
  </div>

  <div class="grid md:grid-cols-2 md:gap-10 px-6 xl:px-40 my-8">
    <div>
      <p class="flex items-center mb-2 font-bold uppercase">
        <span
          class="flex items-center justify-center rounded-full radius-full bg-purple-900 w-1 h-1 p-3 text-white mr-2"
          >1</span
        >
        La Composición
      </p>

      <p class="mb-4">
        En la planta de composición denominada como la "batch plant" se mezclan
        los materiales que posteriormente son enviados al horno para iniciar el
        proceso de fabricación del vidrio.
      </p>

      <p class="flex items-center mb-2 font-bold uppercase">
        <span
          class="flex items-center justify-center rounded-full radius-full bg-purple-900 w-1 h-1 p-3 text-white mr-2"
          >2</span
        >
        El Horno
      </p>

      <p class="mb-4">
        Está construido de material refractorio y puede fundir +/- 600 ton de
        vidrio al mes a una temperatura de 1500ºC
      </p>

      <p class="flex items-center mb-2 font-bold uppercase">
        <span
          class="flex items-center justify-center rounded-full radius-full bg-purple-900 w-1 h-1 p-3 text-white mr-2"
          >3</span
        >
        El Float
      </p>

      <p class="mb-4">
        En este paso el vidrio fundido flota sobre una piscina de estaño. El
        vidrio se mueve gracias a que la "lámina" fundida está pinzada por
        tropolls, los cuales hacen que el vidrio se movilice por el estaño hacia
        la entendería. Gracias a este proceso de fabricación, conocemos hoy en
        día el vidrio como FLOTADO.
      </p>
    </div>

    <div>
      <p class="flex items-center mb-2 font-bold">
        <span
          class="flex items-center justify-center rounded-full radius-full bg-purple-900 w-1 h-1 p-3 text-white mr-2"
          >4</span
        >
        La Extenderia
      </p>

      <p class="mb-4">
        En la extenderia la lámina de vidrio debe liberar el calor con el que
        sale del float antes de llegar a corte. En este paso el vidrio pasa por
        una fase de enfriamiento a lo largo de unos 140 mts.
      </p>

      <p class="flex items-center mb-2 font-bold">
        <span
          class="flex items-center justify-center rounded-full radius-full bg-purple-900 w-1 h-1 p-3 text-white mr-2"
          >5</span
        >
        El Corte
      </p>

      <p class="mb-4">
        Luego de pasar por el control de calidad, el vidrio es cortado (al igual
        que sus bordes) según las medidas requeridas por el mercado. Al final de
        la línea cada lámina es tomada por un robot que cumple con la función de
        apilamiento de las láminas para ser almacenadas y despachadas.
      </p>
    </div>
  </div>

  <div class="flex px-6 justify-center">
    <img
      alt="image"
      src="/sites/sgva.master/files/inline-images/%20%20Quienes%20Somos%20-%20Vidrio%20Andino%20-%20vidrioandino.com__0.png"
    />
  </div>
</div>
<!-- End Section Politica de gestion -->
<!-- Section Asociaciones y Certificaciones -->
<div class="container py-8">
  <div class="container px-6 xl:px-40 flex items-center">
    <div class="sm:border-r border-gray-800 sm:pr-4">
      <h3 class="uppercase text-gray-800 font-medium text-lg sm:text-2xl">
        vidrio andino
      </h3>

      <p
        class="ml-8 sm:ml-12 md:whitespace-no-wrap md:ml-16 uppercase text-gray-800 font-medium text-xl sm:text-3xl"
      >
        Asociaciones y Certificaciones
      </p>
    </div>

    <div class="ml-4">
      <p class="text-normal font-normal text-gray-800 hidden sm:block">
        Política de calidad.
      </p>
    </div>
  </div>

  <div
    class="grid grid-cols-2 sm:grid-cols-5 gap-5 px-6 py-8 xl:px-40 justify-center items-center"
  >
    <img
      alt="ISO 9001"
      class="mx-auto"
      data-entity-type="file"
      data-entity-uuid="c48e3f04-c1c2-4fe9-992c-5da810962070"
      src="/sites/sgva.master/files/inline-images/iso9001_2.png"
    /><img
      alt="ISO 14001"
      class="mx-auto"
      data-entity-type="file"
      data-entity-uuid="9c7f6018-6621-473f-b799-21223bb84521"
      src="/sites/sgva.master/files/inline-images/iso14001_0.png"
    /><img
      alt="Acolvise"
      class="mx-auto"
      data-entity-type="file"
      data-entity-uuid="551d2451-784a-4624-88b8-d7165684f497"
      src="/sites/sgva.master/files/inline-images/LOGO-ACOLVISE-gris_0.jpg"
    /><img
      alt="Camacolgris"
      class="mx-auto"
      data-entity-type="file"
      data-entity-uuid="10060b98-218f-47dd-a6e1-81514dadc447"
      src="/sites/sgva.master/files/inline-images/camacolgris_0.jpg"
    /><img
      alt="CCCS"
      class="mx-auto col-span-2 sm:col-auto"
      data-entity-type="file"
      data-entity-uuid="af350742-20b3-44bc-b318-141db4687265"
      src="/sites/sgva.master/files/inline-images/cccs1.jpg"
    />
  </div>
</div>
<!-- End Section Asociaciones y Certificaciones -->
<!-- Scripts -->
<script>
  const sectionPaises = document.getElementById("sectionPaises");
  sectionPaises.style.backgroundImage =
    "url" + "(" + `${sectionPaises.firstElementChild.src}` + ")";
  sectionPaises.firstElementChild.classList.add("hidden");

  const beforeBanner = document.getElementById("beforeBanner"),
    bannerEnColombia = document.getElementById("bannerEnColombia");

  bannerEnColombia.style.backgroundImage = "url(" + `${beforeBanner.src}` + ")";
</script>
<!-- End Scripts -->
