<style type="text/css">
  .product_image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 120px;
  }
</style>
<div class="px-4 grid md:grid-cols-3 gap-4">
  <!-- Item 1 -->
  <div class="rounded overflow-hidden shadow grid grid-rows-auto">
    <h3
      class="text-center p-2 text-xl text-white mb-4"
      style="background-color: #6D5DD2;"
    >
      Silicona Multiuso
    </h3>
    <div class="product_image flex justify-center mb-4">
      <img
        alt="1.1"
        data-entity-type="file"
        data-entity-uuid="3021da66-6359-48eb-878c-51fb89ac9793"
        src="/sites/sgva.master/files/inline-images/Silicona%20Multiuso_0.png"
      />
    </div>
    <div class="px-4 text-gray-800 leading-relax text-sm mb-4">
      <p>
        Esta silicona es de uso general, especial para vidrio flotado y vidrio
        templado. Muy utilizada en el sellado y vedado cabinas de duchas,
        puertas, ventanas y puede ser aplicada en exteriores
      </p>
    </div>
    <div class="px-4 mb-4">
      <img
        alt="2.1"
        data-entity-type="file"
        data-entity-uuid="46670715-0266-484e-876f-ebcac2102eee"
        src="/sites/sgva.master/files/inline-images/Group-39.png"
      />
    </div>
    <div class="px-4">
      <span class="block font-medium mb-2" style="color: #6D5DD2;"
        >Encuentra más información aquí:</span
      >
      <ul class="mb-2">
        <li class="mb-1">
          <a
            class="hover:text-blue-500"
            href="/sites/sgva.master/files/2020-07/Ficha%20de%20producto%20Silicona%20Multiuso%20-%20Jun.pdf"
            download=""
            ><strong>Descarga</strong> la ficha del producto</a
          >
        </li>
        <li>
          <a
            class="hover:text-blue-500"
            href="/sites/sgva.master/files/2020-07/Hoja%20de%20Seguridad%20Silicona%20Multiuso.pdf"
            download=""
            ><strong>Descarga</strong> la hoja de seguridad del producto</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- Item 2 -->
  <div class="rounded overflow-hidden shadow grid grid-rows-auto">
    <h3
      class="text-center p-2 text-xl text-white mb-4"
      style="background-color: #5293D3;"
    >
      Silicona Multiuso
    </h3>
    <div class="product_image flex justify-center mb-4">
      <img
        alt="1.2"
        data-entity-type="file"
        data-entity-uuid="1c59344e-e164-4109-a3b8-ff2cebc69b5b"
        src="/sites/sgva.master/files/inline-images/Solicona%20Neutra_0.png"
      />
    </div>
    <div class="px-4 text-gray-800 leading-relax text-sm mb-4">
      <p>
        Esta silicona es especial para vidrio a capas (Vidrios BienEstar® y
        Vidrios COOL LITE®), vidrio flotado, vidrio templado, vidrio laminado y
        alambrado. Puede ser aplicada a superficies porosas y no porosas.
      </p>
    </div>
    <div class="px-4 mb-4">
      <img
        alt="2.1"
        data-entity-type="file"
        data-entity-uuid="9c8811e7-27aa-466c-bd2b-08832340934f"
        src="/sites/sgva.master/files/inline-images/Group-39_0.png"
      />
    </div>
    <div class="px-4">
      <span class="block font-medium mb-2" style="color: #5293D3;"
        >Encuentra más información aquí:</span
      >
      <ul class="mb-2">
        <li class="mb-1">
          <a
            class="hover:text-blue-500"
            href="/sites/sgva.master/files/2020-07/Ficha%20de%20producto%20Silicona%20Neutra%20-%20Jun.pdf"
            download=""
            ><strong>Descarga</strong> la ficha del producto</a
          >
        </li>
        <li>
          <a
            class="hover:text-blue-500"
            href="/sites/sgva.master/files/2020-07/Hoja%20de%20Seguridad%20Silicona%20Neutra.pdf"
            download=""
            ><strong>Descarga</strong> la hoja de seguridad del producto</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- Item 3 -->
  <div class="rounded overflow-hidden shadow grid grid-rows-auto">
    <h3
      class="text-center p-2 text-xl text-white mb-4"
      style="background-color: #84BA19;"
    >
      Silicona Multiuso
    </h3>
    <div class="product_image flex justify-center mb-4">
      <img
        alt="1.3"
        data-entity-type="file"
        data-entity-uuid="519a994e-bab7-41c3-acf1-df1b37d79afe"
        src="/sites/sgva.master/files/inline-images/Fija%20Espejo_0_0.png"
      />
    </div>
    <div class="px-4 text-gray-800 leading-relax text-sm mb-4">
      <p>
        Esta silicona se adhiere a/en diversos tipos de sustratos como espejos,
        vidrio pintado, PVC, madera, Metal, Aluminio pintado y azulejos.
      </p>
    </div>
    <div class="px-4 mb-4">
      <img
        alt="2.1"
        data-entity-type="file"
        data-entity-uuid="8c223f37-ef22-4e5e-a7d8-899404f88766"
        src="/sites/sgva.master/files/inline-images/Group-39_1.png"
      />
    </div>
    <div class="px-4">
      <span class="block font-medium mb-2" style="color: #84BA19;"
        >Encuentra más información aquí:</span
      >
      <ul class="mb-2">
        <li class="mb-1">
          <a
            class="hover:text-blue-500"
            href="/sites/sgva.master/files/2020-07/Ficha%20de%20producto%20Fija%20Espejo%20-%20Jun.pdf"
            download=""
            ><strong>Descarga</strong> la ficha del producto</a
          >
        </li>
        <li>
          <a
            class="hover:text-blue-500"
            href="/sites/sgva.master/files/2020-07/Hoja%20de%20Seguridad%20Fija%20Espejo.pdf"
            download=""
            ><strong>Descarga</strong> la hoja de seguridad del producto</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
