<style>
  .product_image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
<div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-4 px-4">
  <!-- (Complementos)-->
  <a
    href="/complementos"
    class="product_image flex xl:block rounded overflow-hidden bg-blue-500 transition-all duration-200 hover:bg-blue-600 xl:p-4 text-white text-center text-lg uppercase"
  >
    <div
      class="xl:w-full xl:rounded overflow-hidden w-32 h-32 xl:h-64 xl:mr-0 xl:mb-4"
    >
      <img
        src="https://images.adsttc.com/media/images/5caf/1a22/284d/d19a/9100/0578/medium_jpg/13135-JO_SALESFORCE_TOWER_13_(c)_Jason_O'Rear.jpg?1554979351F"
        alt="prueba"
      />
    </div>
    <div class="w-full flex flex-col justify-center items-center p-2">
      <h3>
        Complementos para <br />
        <strong>Vidrios</strong>
      </h3>
      <button
        class="hidden xl:block bg-orange-500 hover:bg-orange-400 transition duration-200 transform hover:scale-105 inline-block mt-4 py-2 px-4 rounded outline-none"
      >
        Descubrir
      </button>
    </div>
  </a>
  <!--  (Vidrio para fachadas)-->
  <a
    href="/productos/aplicaciones/fachadas"
    class="product_image flex xl:block rounded overflow-hidden bg-blue-500 transition-all duration-200 hover:bg-blue-600 xl:p-4 text-white text-center text-lg uppercase"
  >
    <div
      class="xl:w-full xl:rounded overflow-hidden w-32 h-32 xl:h-64 xl:mr-0 xl:mb-4"
    >
      <img
        src="https://images.adsttc.com/media/images/5caf/1a22/284d/d19a/9100/0578/medium_jpg/13135-JO_SALESFORCE_TOWER_13_(c)_Jason_O'Rear.jpg?1554979351F"
        alt="prueba"
      />
    </div>
    <div class="w-full flex flex-col justify-center items-center p-2">
      <h3>
        Vidrios para <br />
        <strong>Fachadas</strong>
      </h3>
      <button
        class="hidden xl:block hidden xl:block bg-orange-500 hover:bg-orange-400 transition duration-200 transform hover:scale-105 inline-block mt-4 py-2 px-4 rounded outline-none"
      >
        Descubrir
      </button>
    </div>
  </a>
  <!--  (Vidrio para ventanas)-->
  <a
    href="/productos/aplicaciones/ventanas-para-el-hogar"
    class="product_image flex xl:block rounded overflow-hidden bg-blue-500 transition-all duration-200 hover:bg-blue-600 xl:p-4 text-white text-center text-lg uppercase"
  >
    <div
      class="xl:w-full xl:rounded overflow-hidden w-32 h-32 xl:h-64 xl:mr-0 xl:mb-4"
    >
      <img
        src="https://images.adsttc.com/media/images/5caf/1a22/284d/d19a/9100/0578/medium_jpg/13135-JO_SALESFORCE_TOWER_13_(c)_Jason_O'Rear.jpg?1554979351F"
        alt="prueba"
      />
    </div>
    <div class="w-full flex flex-col justify-center items-center p-2">
      <h3>
        Vidrios para <br />
        <strong>Ventanas</strong>
      </h3>
      <button
        class="hidden xl:block bg-orange-500 hover:bg-orange-400 transition duration-200 transform hover:scale-105 inline-block mt-4 py-2 px-4 rounded outline-none"
      >
        Descubrir
      </button>
    </div>
  </a>
  <!--  (Diseño de interior)-->
  <a
    href="/productos/aplicaciones/diseño-interior"
    class="product_image flex xl:block rounded overflow-hidden bg-blue-500 transition-all duration-200 hover:bg-blue-600 xl:p-4 text-white text-center text-lg uppercase"
  >
    <div
      class="xl:w-full xl:rounded overflow-hidden w-32 h-32 xl:h-64 xl:mr-0 xl:mb-4"
    >
      <img
        src="https://images.adsttc.com/media/images/5caf/1a22/284d/d19a/9100/0578/medium_jpg/13135-JO_SALESFORCE_TOWER_13_(c)_Jason_O'Rear.jpg?1554979351F"
        alt="prueba"
      />
    </div>
    <div class="w-full flex flex-col justify-center items-center p-2">
      <h3>
        Vidrios para <br />
        <strong>Diseño de Interior</strong>
      </h3>
      <button
        class="hidden xl:block bg-orange-500 hover:bg-orange-400 transition duration-200 transform hover:scale-105 inline-block mt-4 py-2 px-4 rounded outline-none"
      >
        Descubrir
      </button>
    </div>
  </a>
  <!--  (Industria Refrigeración)-->
  <a
    href="/productos/aplicaciones/refrigeracion"
    class="product_image flex xl:block rounded overflow-hidden bg-blue-500 transition-all duration-200 hover:bg-blue-600 xl:p-4 text-white text-center text-lg uppercase"
  >
    <div
      class="xl:w-full xl:rounded overflow-hidden w-32 h-32 xl:h-64 xl:mr-0 xl:mb-4"
    >
      <img
        src="https://images.adsttc.com/media/images/5caf/1a22/284d/d19a/9100/0578/medium_jpg/13135-JO_SALESFORCE_TOWER_13_(c)_Jason_O'Rear.jpg?1554979351F"
        alt="prueba"
      />
    </div>
    <div class="w-full flex flex-col justify-center items-center p-2">
      <h3>
        Vidrios para <br />
        <strong>Industria Refrigeración</strong>
      </h3>
      <button
        class="hidden xl:block bg-orange-500 hover:bg-orange-400 transition duration-200 transform hover:scale-105 inline-block mt-4 py-2 px-4 rounded outline-none"
      >
        Descubrir
      </button>
    </div>
  </a>
  <!--  (Ver todos)-->
  <a
    href="/nuestros-productos"
    class="product_image flex xl:block rounded overflow-hidden bg-blue-500 transition-all duration-200 hover:bg-blue-600 xl:p-4 text-white text-center text-lg uppercase"
  >
    <div
      class="xl:w-full xl:rounded overflow-hidden w-32 h-32 xl:h-64 xl:mr-0 xl:mb-4"
    >
      <img
        src="https://images.adsttc.com/media/images/5caf/1a22/284d/d19a/9100/0578/medium_jpg/13135-JO_SALESFORCE_TOWER_13_(c)_Jason_O'Rear.jpg?1554979351F"
        alt="prueba"
      />
    </div>
    <div class="w-full flex flex-col justify-center items-center p-2">
      <h3>
        Ver todos los <br />
        <strong>Productos</strong>
      </h3>
      <button
        class="hidden xl:block bg-orange-500 hover:bg-orange-400 transition duration-200 transform hover:scale-105 inline-block mt-4 py-2 px-4 rounded outline-none"
      >
        Descubrir
      </button>
    </div>
  </a>
</div>
