<style type="text/css">
    .hero {
        max-height: 250px;
    }
    
    @media (min-width: 768px) {
        .hero {
            max-height: 500px;
        }
    }
    
    .lineDot:first-of-type::before {
        content: "";
        display: block;
        width: 50%;
        height: 4px;
        margin-left: auto;
        border-top: 5px dotted #9f7aea;
        margin-top: 16px;
    }
    
    .lineDot:last-of-type::before {
        content: "";
        display: block;
        width: 50%;
        height: 4px;
        margin-right: auto;
        border-top: 5px dotted #9f7aea;
        margin-top: 16px;
    }
    
    .lineDot:nth-child(2)::before,
    .lineDot:nth-child(3)::before {
        content: "";
        display: block;
        width: 50%;
        height: 4px;
        margin-left: auto;
        border-top: 5px dotted #9f7aea;
        margin-top: 16px;
    }
    
    @media (min-width: 768px) {
        .lineDot:nth-child(2)::before,
        .lineDot:nth-child(3)::before {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            margin-left: auto;
            border-top: 5px dotted #9f7aea;
            margin-top: 16px;
        }
    }
</style>
<div class="hero relative overflow-hidden" id="disableBread"><img alt="Vidrio andino Confort Acústico" data-entity-type="file" data-entity-uuid="ceeb1dc9-ee91-46d2-a8ef-7206ec778008" src="/sites/vidrioandino.com/files/inline-images/confort-acustico-web.png">
    <div class="container mx-auto px-4">
        <h1 class="block opacity-75 absolute bottom-0 text-xl md:text-3xl text-white mb-12 md:mb-32 px-4 md:px-6 py-6 md:py-8 border-l-8 " style="background-color: #6D67AC; border-color: hsl(225, 29%, 34%)">CONFORT ACÚSTICO</h1>
    </div>
</div>
<!-- DESCRIPTION -->

<div class="description w-full bg-gray-200 text-gray-700 text-sm md:text-base sm:text-lg leading-relax mb-8">
    <p class="block container mx-auto py-4 sm:py-6 px-4">Los edificios MULTI COMFORT tienen entornos acústicos que están bien equilibrados, bloquean el ruido no deseado y dañino y mejoran los sonidos que queremos y de hecho necesitamos escuchar.</p>
</div>
<!-- TITLE -->

<div class="my-8">
    <div class="container px-4 grid md:grid-cols-2 gap-4" id="disableBread">
        <div>
            <div class="container px-4 pl-4 h-8 font-semibold flex font-light text-gray-800 text-lg sm:text-xl items-center border-l-8" style="border-color: #6D67AC;">
                <h2>¿Qué es el CONFORT VISUAL?</h2>
            </div>

            <p class="text-sm md:text-base text-gray-700 leading-relax mt-4">COMODIDAD ACÚSTICA es el bienestar y la sensación de los ocupantes de un edificio u hogar con respecto al entorno acústico (transporte, equipo, actividad, vecindario que produce ruido). Proporcionar comodidad acústica consiste en minimizar
                el ruido intruso y mantener la satisfacción entre los residentes (hogar y espacio de trabajo).
            </p>
        </div>

        <div>
            <div class="block mx-auto object-contain flex justify-center"><img alt="1.1" data-entity-type="file" data-entity-uuid="44833174-7a3a-45ab-9ad8-5c2148590def" src="/sites/vidrioandino.com/files/inline-images/ima%205-01.png"></div>
        </div>
    </div>
</div>
<!-- PARTE 1 -->

<div class="h-2 w-16 rounded mx-auto" style="background-color: #6D67AC;">&nbsp;</div>

<div class="container my-8 px-4">
    <!-- TITLE -->
    <div>
        <div class="container px-4 pl-4 h-8 font-semibold flex font-light text-gray-800 text-lg sm:text-xl items-center border-l-8" style="border-color: #6D67AC;">
            <h2>¿COMO FUNCIONA?</h2>
        </div>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 my-6">
        <div>
            <div class="object-contain mx-auto flex justify-center md:justify-end md:pl-16"><img alt="2.1" data-entity-type="file" data-entity-uuid="2bdb80a7-2aa5-436e-ace0-a6153a01ed1e" src="/sites/vidrioandino.com/files/inline-images/2.1_2.png"></div>

            <div class="object-contain mx-auto flex hidden md:block justify-start mt-12 pr-16"><img alt="2.4" data-entity-type="file" data-entity-uuid="eef4f54a-be81-48a1-bb38-8c5719931f9d" src="/sites/vidrioandino.com/files/inline-images/2.4_1.png"></div>
        </div>

        <div>
            <div class="object-contain mx-auto flex justify-center"><img alt="2.2" data-entity-type="file" data-entity-uuid="7cd6ee5b-033a-4660-b4a8-2d3407a104eb" src="/sites/vidrioandino.com/files/inline-images/2.2_2.png"></div>
        </div>

        <div class="col-span-2 md:col-span-1 flex flex-col">
            <p class="text-sm md:text-base text-gray-700 leading-relax mt-4">Lo que está claro es que cuando estamos acústicamente cómodos, cuando el ruido no deseado está bloqueado y podemos escuchar claramente sonidos beneficiosos, somos más productivos, más felices y experimentamos menos problemas de salud.
            </p>

            <div class="object-contain mx-auto flex justify-center mt-4"><img alt="2.3" data-entity-type="file" data-entity-uuid="69200ae4-aa5c-4c43-bd73-4da4c64ad4c7" src="/sites/vidrioandino.com/files/inline-images/2.3_2.png"></div>
        </div>
    </div>
</div>
<!-- PARTE 2 -->

<div class="h-2 w-16 rounded mx-auto" style="background-color: #6D67AC;">&nbsp;</div>

<div class="container grid md:grid-cols-7 gap-4 my-8 px-4">
    <div class="md:col-span-2 flex flex-col">
        <div class="block mx-auto object-contain flex justify-center"><img alt="3.1" data-entity-type="file" data-entity-uuid="37db4afc-96a2-4908-820c-e9bc36218c19" src="/sites/vidrioandino.com/files/inline-images/3.1_1.png"></div>

        <p class="text-sm md:text-base text-gray-700 leading-relax mt-4">Lo que está claro es que cuando estamos acústicamente cómodos, cuando el ruido no deseado está bloqueado y podemos escuchar claramente sonidos beneficiosos, somos más productivos, más felices y experimentamos menos problemas de salud.
        </p>
    </div>

    <div class="md:col-span-5">
        <div class="block mx-auto object-contain flex justify-center"><img alt="3.2" data-entity-type="file" data-entity-uuid="a82de689-6121-4697-917c-f4e962846260" src="/sites/vidrioandino.com/files/inline-images/3.2_1.png"></div>

        <p class="block w-64 ml-auto text-sm md:text-base text-gray-700 leading-relax mt-4">Lo que está claro es que cuando estamos acústicamente cómodos, cuando el ruido no deseado está bloqueado y podemos escuchar claramente sonidos beneficiosos, somos más productivos, más felices y experimentamos menos problemas de salud.
        </p>
    </div>
</div>
<!-- PARTE 3 -->

<div class="h-2 w-16 rounded mx-auto" style="background-color: #6D67AC;">&nbsp;</div>

<div class="relative container">
    <div class="md:absolute grid md:grid-cols-2 gap-4 my-8 px-4">
        <div class="grid grid-cols-3 gap-2">
            <div class="col-span-2 block mx-auto object-contain flex justify-center"><img alt="4.1" data-entity-type="file" data-entity-uuid="122b2831-a769-4ed1-bcc3-1825bcd28627" src="/sites/vidrioandino.com/files/inline-images/4.1_0.png"></div>

            <div class="block mx-auto object-contain flex justify-center"><img alt="4.2" data-entity-type="file" data-entity-uuid="134d6014-dda9-467f-b3bd-3bb66dc4751e" src="/sites/vidrioandino.com/files/inline-images/4.2_0.png"></div>
        </div>

        <div class="grid md:grid-cols-2">
            <div class="flex flex-col-reverse">
                <p class="text-sm md:text-base text-gray-700 text-center md:text-left leading-relax mt-4">Lo que está claro es que cuando estamos acústicamente cómodos, cuando el ruido no deseado está bloqueado y podemos escuchar claramente sonidos beneficiosos, somos más productivos, más felices y experimentamos menos problemas de salud.</p>
            </div>
        </div>
    </div>

    <div class="hidden md:flex mx-auto object-contain justify-end"><img alt="4.3" data-entity-type="file" data-entity-uuid="5b026663-1cb4-4231-85f4-bcd84d96197c" src="/sites/vidrioandino.com/files/inline-images/4.3_0.png"></div>

    <div class="container mt-4 px-4">
        <div class="block mx-auto object-contain flex justify-center"><img alt="4.4" data-entity-type="file" data-entity-uuid="2795e3a4-99ee-4448-9fe6-c0e7650d0473" src="/sites/vidrioandino.com/files/inline-images/4.4_0.png"></div>
    </div>
</div>
<!-- SECCION 3 -->

<div class="mt-24" style="background-color: #6D67AC;">
    <div class="container px-4 grid md:grid-cols-2 gap-8 py-12">
        <div>
            <div class="flex justify-between items-center text-white font-bold text-xl mb-3">
                <h3>¿SABÍAS QUE?</h3>

                <div class="w-8 h-8 rounded-full bg-white"><img src="" alt="icon 1<"></div>
            </div>

            <p class="text-white leading-relax text-sm md:text-base">Los estudios epidemiológicos han demostrado, por ejemplo, que el riesgo de ataque cardíaco para las personas que viven cerca de calles de uso frecuente es aproximadamente un 20% mayor que para los residentes de calles más tranquilas, y que
                el riesgo de obesidad aumenta con la proximidad de un aeropuerto.</p>
        </div>

        <div>
            <div class="flex justify-between items-center text-white font-bold text-xl mb-3">
                <h3>¿SABÍAS QUE?</h3>

                <div class="w-8 h-8 rounded-full bg-white"><img src="" alt="icon 1<"></div>
            </div>

            <p class="text-white leading-relax text-sm md:text-base">Un estudio realizado en 1998 encontró que hubo una caída de hasta un 66% en el rendimiento de una tarea de "memoria para la poesía" cuando los participantes estuvieron expuestos a diferentes tipos de ruido de fondo. </p>
        </div>
    </div>
</div>
<!-- SECCION 4 -->

<div class="container px-4 py-12">
    <!-- TITLE -->
    <div class="container px-4 pl-4 h-8 flex font-semibold  text-gray-800 text-lg sm:text-xl items-center border-l-8" style="border-color: #6D67AC;">
        <h2>¿Qué contribuye al CONFORT ACÚSTICO?</h2>
    </div>

    <div class="relative">
        <div class="grid lg:grid-cols-2 gap-8 mt-8">
            <div>
                <p class="text-sm md:text-base text-gray-700 leading-relax">La aceptación de cualquier sonido depende de muchos factores que varían según el tipo de edificio, el tipo de actividad que se realiza y los hábitos sociales y culturales de los ocupantes. La calidad del sonido en cualquier espacio interior
                    determinado está determinada por las fuentes del sonido o ruido y la calidad de la envolvente del edificio, que incluyen:</p>
            </div>

            <div>
                <div class="pb-4 grid sm:grid-cols-2 row-gap-4">
                    <div class="flex sm:justify-center">
                        <div><img src="/sites/vidrioandino.com/files/inline-images/acustico1.png"></div>
                        <span class="ml-2 text-sm md:text-base text-gray-700 leading-relax w-64 lg:w-48">Ruido
                            exterior (tráfico cercano, vecinos …) </span>
                    </div>

                    <div class="flex sm:justify-center">
                        <div><img src="/sites/vidrioandino.com/files/inline-images/acustico2.png"></div>
                        <span class="ml-2 text-sm md:text-base text-gray-700 leading-relax w-64 lg:w-48">Ruido
                            de
                            impacto (pasos …)</span>
                    </div>

                    <div class="flex sm:justify-center">
                        <div><img src="/sites/vidrioandino.com/files/inline-images/acustico3.png"></div>
                        <span class="ml-2 text-sm md:text-base text-gray-700 leading-relax w-64 lg:w-48">Ruido
                            de
                            equipos (sistemas de ventilación, equipos electrónicos, tuberías, ascensores
                            …)</span>
                    </div>

                    <div class="flex sm:justify-center">
                        <div><img src="/sites/vidrioandino.com/files/inline-images/acustico4.png"></div>
                        <span class="ml-2 text-sm md:text-base text-gray-700 leading-relax w-64 lg:w-48">Ruido
                            interior (música, conversaciones telefónicas …)</span>
                    </div>

                    <div class="flex sm:justify-center">
                        <div><img src="/sites/vidrioandino.com/files/inline-images/acustico5.png"></div>
                        <span class="ml-2 text-sm md:text-base text-gray-700 leading-relax w-64 lg:w-48">Vibraciones
                            sonoras a través de la estructura.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="absolute hidden lg:block h-24 w-1 bg-gray-300 top-0 mx-auto right-0 left-0 rounded">
            &nbsp;</div>
    </div>
</div>
<!-- SECCION 5 -->

<div class="py-12 px-4 relative text-gray-200" style="background-color: #333333">
    <div class="container">
        <h3 class="font-medium text-2xl mb-8 text-center">¿Cómo podemos diseñar para COMODIDAD ACÚSTICA?
        </h3>

        <p class="text-xs md:text-base leading-relaxed text-center">Considerando los tipos de ruidos y arquitectura
        </p>

        <p class="text-xs md:text-base leading-relaxed text-center">Los ruidos pueden transmitirse a través del aire o a través del tejido del edificio (a través de la envolvente), verticalmente (de piso a piso) o lateralmente (a través de particiones internas). El confort acústico en un edificio depende de las
            características acústicas del tejido del edificio, en lo que respecta a la transmisión y absorción acústica. Al diseñar hoy para la comodidad acústica, debemos tener en cuenta una variedad de factores externos y arquitectónicos:</p>

        <ul class="mt-6 list-disc">
            <li class="text-xs md:text-base leading-relaxed">Los tipos de ruido que se deben gestionar, desde proteger a los usuarios del edificio de los niveles de ruido entrantes, pero también tal vez de contaminar el medio ambiente con el ruido producido por el edificio, así como gestionar el ruido
                interno dentro del edificio.</li>
            <li class="text-xs md:text-base leading-relaxed">El espectro de ruido a gestionar (bajas o altas frecuencias)
            </li>
            <li class="text-xs md:text-base leading-relaxed">El sistema de construcción y los materiales. La actividad del edificio: dormir, trabajar, enseñar o cuidar la salud.</li>
        </ul>
        <div class="grid grid-cols-2 md:grid-cols-4 my-12 gap-1">
            <div class="lineDot text-white relative">
                <div class="inline-block h-8 w-8 mx-auto mb-4  flex justify-center items-center bg-purple-500 rounded-full absolute top-0 right-0 left-0 ">
                    1</div>
                <span class="text-xs md:text-base leading-relaxed text-center block w-40 mx-auto mt-4 mb-0">
                    Ruido
                    exterior del tráfico cercano </span>
            </div>

            <div class="lineDot text-white relative">
                <div class="inline-block h-8 w-8 mx-auto mb-4  flex justify-center items-center bg-purple-500 rounded-full absolute top-0 right-0 left-0 ">
                    2</div>
                <span class="text-xs md:text-base leading-relaxed text-center block w-40 mx-auto mt-4 mb-0">
                    Ruido
                    interior </span>
            </div>

            <div class="lineDot text-white relative">
                <div class="inline-block h-8 w-8 mx-auto mb-4  flex justify-center items-center bg-purple-500 rounded-full absolute top-0 right-0 left-0 ">
                    3</div>
                <span class="text-xs md:text-base leading-relaxed text-center block w-40 mx-auto mt-4 mb-0">
                    Ruido
                    de impacto </span> <span class="text-sm md:text-xs leading-relaxed text-center block w-40 mx-auto">((como
                    pasos)</span>
            </div>

            <div class="lineDot text-white relative">
                <div class="inline-block h-8 w-8 mx-auto mb-4  flex justify-center items-center bg-purple-500 rounded-full absolute top-0 right-0 left-0 ">
                    4</div>
                <span class="text-xs md:text-base leading-relaxed text-center block w-40 mx-auto mt-4 mb-0">
                    Ruido
                    de fondo </span> <span class="text-sm md:text-xs leading-relaxed text-center block w-40 mx-auto">(de
                    electrodomésticos,
                    sistemas de ventilación o equipos electrónicos)</span>
            </div>
        </div>
    </div>
</div>
</div>