<style type="text/css">
  .productoDescription {
    max-height: 0;
    overflow-y: hidden;
  }

  .productoLink:hover .productoDescription {
    max-height: 10000px;
    padding-bottom: 1rem;
  }
</style>
<div id="recommendedProduct" class="container py-12 mt-8">
  <transition name="fade">
    <div v-if="!loading">
      <!-- Title -->
      <div class="px-6 flex items-center">
        <div class="sm:border-r border-gray-800 sm:pr-4">
          <h3 class="uppercase text-gray-800 font-medium text-lg sm:text-2xl">
            Vidrio Andino
          </h3>

          <p
            class="ml-16 uppercase text-gray-800 font-medium text-xl sm:text-3xl"
          >
            Productos
          </p>
        </div>

        <div class="ml-4">
          <p class="text-normal font-normal text-gray-800 hidden sm:block">
            Productos que te pueden interesar
          </p>
        </div>
      </div>
      <!-- Content -->
      <ul
        class="grid grid-cols-2 sm:grid-cols-4 gap-3 sm:gap-4 mt-8 px-4 sm:px-0"
      >
        <li class="block mx-auto my-0" v-for="product in recommendedProduct">
          <a
            :href="product.path[0].alias"
            class="productoLink relative block w-full m-0"
          >
            <img
              :alt="product.field_portada[0].alt"
              :src="product.field_portada[0].url"
              class="block object-cover w-full m-0"
            />
            <div class="absolute bottom-0 w-full transition-all duration-300">
              <h3
                class="block text-center text-base sm:text-xs md:text-lg font-medium p-1 md:p-2 bg-blue-500 text-white m-0"
              >
                {{product.title[0].value}}
              </h3>

              <p
                class="productoDescription text-center block m-0 bg-blue-500 px-4 w-full h-full transition-all duration-300 text-white text-sm leading-relax"
              >
                {{product.field_front_description[0].value}}
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </transition>
</div>
<script>
  let recommendedProduct = new Vue({
    el: "#recommendedProduct",
    data() {
      return {
        recommendedProduct: null,
        errored: null,
        loading: true
      };
    },
    mounted() {
      axios
        .get(`${window.location.origin}/api/productos?_format=json`)
        .then(response => {
          const data = response.data;

          const productosReconmendadosFiltro = data;

          const cantidadProductos =
            productosReconmendadosFiltro > 4
              ? 5
              : productosReconmendadosFiltro.length;
          const productosRecomendados = [];
          const indexRandom = [];
          let i = 0;

          while (indexRandom.length < cantidadProductos) {
            let numeroAleatorio = Math.floor(Math.random() * cantidadProductos);
            let existe = false;
            for (let i = 0; i < indexRandom.length; i++) {
              if (indexRandom[i] == numeroAleatorio) {
                existe = true;
                break;
              }
            }
            if (!existe) {
              indexRandom[indexRandom.length] = numeroAleatorio;
            }
          }

          while (productosRecomendados.length < cantidadProductos - 1) {
            let indice = indexRandom[i];
            if (
              productosReconmendadosFiltro[indice].path[0].alias !==
              window.location.pathname
            ) {
              productosRecomendados.push(productosReconmendadosFiltro[indice]);
            }
            i++;
            if (productosRecomendados.length < 4) {
              this.recommendedProduct = productosRecomendados;
            } else {
              break;
            }
          }
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
      ƒ;
    }
  });
</script>
